header ul.menu li.heart.active .content span.label {
    float: left;
    margin: 19px 0 0 20px;
}

header ul.menu li.message.active .content span.label {
    float: left;
    margin: 28px 0 0 15px;
}

header ul.menu li.notification.active .content span.label {
    float: left;
    margin: 28px 0 0 7px;
}

.profile .rightSide .form .formRow input[type="text"] {
    margin-top: 10px;
}