/*@import "reset.css";
@import "./font/webfontkit-20131127-072243/stylesheet.css";
@import "./font/webfontkit-20131127-074021/stylesheet.css";
*/

:not(.textarea):not(textarea):not(input){-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
body, html{background-color:#cfe7f5;width:800px;height:705px; position: fixed; top: 0;}
canvas{position:absolute;float:left}
.blockUI  {z-index: 1000001;}
.circleBase{-webkit-border-radius:999px;-moz-border-radius:999px;border-radius:999px}
.jspVerticalBar {width: 7px;}
.jspDrag {margin: 0 2px 0 1px; width: 5px;}
#all-popups {display:none}
#content div.start-page div.top{height:207px;margin-top: 2px;}

#vk_groups {width: 350px; margin: 0 auto;}
#vk_groups b {color: #45617E;font-size: 13px;text-align: center;margin: 9px 0;font-family: Segoe_UI;font-weight: bold;display: block;}
#vk_group_content {box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.18);border-radius: 6px;overflow: hidden;}

.female .no-answers {color: #7C4759;font-weight: bold;margin: 26px 0;}
.male .no-answers {color: #45617e;font-weight: bold;margin: 26px 0;}
.no-answers img {position: absolute; left: 0; top: 156px;}

.loading {position: absolute;top: -10000px;}
.loading img {display: none;}
.loading.currently {position: static;}
.loading.currently img {display: block;}

.loading2 {margin: 0 auto; width: 32px; height: 32px;}
.loading4 {margin: 0 auto; width: 220px; height: 19px;}

.l10 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading4.gif);}
.l9 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading4.gif);}
.l8 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading4.gif);}
.l7 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading4.gif);}
.l6 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading4.gif);}
.l5 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading4.gif);}
.l4,.male .l4 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading4.gif);}
.female .l4 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading7.gif);}

.l3 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading3.gif);}
.l2 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading2.gif);}
.l1 {margin: 0 auto; width: 220px; height: 19px;background: url(/img/loading1.gif);}

.l {position: absolute; top: -100000px;}
.a .l {position: static;}
.a.l {position: static;margin-top: 26px;}

.ico{display:block;float:left;background:url(/img/icons.png)}
.vip-ico {background: url(/img/become-vip-icons.png); width: 68px; height: 53px; display: block;}
.html5-ico {background: url(/img/html5Support/graphics.png);}
.status-ico {background: url(/img/online.png);}

.ico-star {width: 25px; height: 25px;background-position: -227px -160px;}
.ico-star-selected {width: 25px;height: 25px;background-position: -227px -127px;}
.ico-close{cursor:pointer;width:20px;height:19px;background-position:-234px -37px}
.ico-close:hover{background-position:-234px -61px}
.ico-close:active{background-position:-234px -90px}
.ico-rating{width:17px;height:18px;background-position:-223px 0;margin-left: 2px;}
.ico-money{width:22px;height:18px;background-position:-242px 0}
.ico-male-male{width:27px;height:36px;background-position:-112px -190px}
.ico-female-male{width:47px;height:36px;background-position:-63px -190px}
.ico-male-female{width:27px;height:36px;background-position:-188px -190px}
.ico-female-female{width:47px;height:36px;background-position:-138px -190px}
.ico-share{width:70px;height:35px;background-position:-2px 247px}
.ico-share:hover{width:70px;height:35px;background-position:-2px 213px}
.ico-share:active{width:70px;height:35px;background-position:-2px 179px}
.ico-faq{width:42px;height:35px;background-position:-96px 247px}
.ico-faq:hover{background-position:-96px 213px}
.ico-faq:active{background-position:-96px 178px}
.ico-privacy{width:66px;height:35px;background-position:-155px 247px}
.ico-privacy:hover{background-position:-155px 214px}
.ico-privacy:active{background-position:-155px 180px}
.ico-mess-spam{background-position: -409px -6px}
.ico-mess-spam:hover{background-position: -409px -26px;}
.ico-mess-spam:active{background-position: -409px -46px;}
.ico-mess-edit{background-position: -433px -6px;}
.ico-mess-edit:hover{background-position: -433px -26px;}
.ico-mess-edit:active{background-position: -433px -46px}
.ico-mess-delete, .ico-notif-delete{background-position: -456px -6px;}
.ico-notif-delete{width: 17px;height: 17px;position: absolute;right: 0;margin: 27px 3px 0 0;}
.ico-mess-delete:hover, .ico-notif-delete:hover{background-position: -456px -26px;}
.ico-mess-delete:active, .ico-notif-delete:active{background-position: -456px -46px;}
.ico-mess-to {background-position: -359px -264px;width: 29px;height: 25px;display: block;}
/*.ico-mess-to:hover {background-position: -360px -298px;}*/
/*.ico-mess-to:active {background-position: -360px -334px;}*/
.ico-like {background-position: -409px -264px;width: 29px;height: 25px;display: block;}
.ico-like-to {background: url(/img/profile-icons.png) -123px -12px;width: 29px;height: 25px;display: block;margin: 9px auto 0;float: none;}
.ico-patron-to {background-position: -453px -264px;width: 48px;height: 25px;display: block;}
/*.ico-patron-to:hover {background-position: -454px -298px;}
.ico-patron-to:active {background-position: -454px -334px;}*/
.ico-heart-point {background-position: -443px -142px;width: 12px;height: 13px;}
.ico-heart-point.active, .active .ico-heart-point {background-position: -424px -142px;}
.ico-wallet {background-position: -372px -428px;width: 69px;height: 67px;}
.ico-tariff {width: 66px;height: 38px;background-position: -433px -160px;}
.ico-akcia-tariff {width: 65px;height: 38px;background-position: -434px -201px;}
.ico-akcia-arrow {width: 30px;height: 30px;background-position: -226px -328px;}
.ico-currency {width: 36px;height: 25px; background-position: -320px -196px;}
.ico-patron-rating {width: 36px;height: 30px; background-position: -359px -196px;}
.ico-no-turn {background-position: -2px -7px;}
.ico-color {background-position: -72px -7px;}
.ico-photo {background-position: -145px -7px;}
.ico-invisible {background-position: -216px 0px;width: 51px;height: 70px;}
.ico-chrome {background-position: -62px -103px;height: 124px;width: 122px;display: block;margin: 0 auto;}
.ico-no-html-heart-left {background-position: -6px -1px;width: 110px;height: 104px;}
.ico-no-html-heart-right {background-position: -133px -1px;width: 110px;height: 104px;}
.ico-offline {height: 51px;width: 52px;background-position: 1px 0px;}
.ico-online {height: 51px; width: 52px; background-position: 1px -50px;}
.ico-menu-rating {width: 28px;height: 27px;background-position: -396px -193px;}
.ico-game {width: 34px;height: 27px;background-position: -453px -298px;}
.ico-share-1 {width: 91px; height: 75px; background-position: -2px -425px;}
.ico-share-2 {width: 69px; height: 67px; background-position: -372px -428px;}
.ico-share-3 {width: 74px; height: 88px; background-position: -286px -411px;}
.ico-photo-attach {width: 50px; height: 36px; background-position: -94px -464px;}
.ico-img-close {width: 21px;height: 32px; background-position: -153px -465px;}
.ico-edit-ico {width: 20px;height: 20px;background-position: -202px -364px;}
.ico-cam {width: 25px; height: 25px; background-position: -329px -366px;}
.ico-to-menu {width: 18px;height: 20px;background-position: -203px -388px;}
.ico-sound {width: 18px;height: 20px;background-position: -203px -409px;}

.male .ico-day {background-position: -98px -363px;width: 35px;height: 33px;}
.male .ico-day.selected {background-position: -93px -416px;width: 44px;height: 43px;}
.male .ico-random {width: 25px;height: 25px; background-position: -288px -328px;}
.male .ico-purse-heart {width: 14px;height: 14px; background-position: -226px -201px;}
.male .ico-purse-bonus {background-position: -274px -201px; width: 15px; height: 17px;}
.male .ico-vip {width: 24px; height: 14px;background-position: -264px -327px;margin-top: 5px;}
.male .ico-play-check {width: 24px; height: 24px; background-position: -447px -428px;margin-right: 3px;}
.male .ico-play-check.check {background-position: -475px -428px;}
.male .ico-mode-turn-on {background-position: -5px -355px; width: 33px;height: 33px;}
.male .ico-mode-turn-off {background-position: -44px -355px; width: 33px;height: 33px;}

.female .ico-day {background-position: -157px -364px;width: 35px;height: 33px;}
.female .ico-day.selected {background-position: -154px -416px;width: 44px;height: 43px;}
.female .ico-random {width: 25px;height: 25px; background-position: -315px -328px;}
.female .ico-purse-heart {width: 14px;height: 14px; background-position: -252px -201px;}
.female .ico-purse-bonus {width: 14px;height: 14px; background-position: -297px -201px;}
.female .ico-vip {width: 24px; height: 14px;background-position: -264px -342px;margin-top: 5px;}
.female .ico-play-check {width: 24px; height: 24px;background-position: -446px -461px;margin-right: 3px;}
.female .ico-play-check.check {background-position: -474px -461px;}
.female .ico-mode-turn-on {background-position: -5px -392px; width: 33px;height: 33px;}
.female .ico-mode-turn-off {background-position: -44px -392px; width: 33px;height: 33px;}

.ph-1 {padding: 0 1px;}
.ph-2 {padding: 0 2px;}
.ph-3 {padding: 0 3px;}
.ph-4 {padding: 0 4px;}
.ph-5 {padding: 0 5px;}
.ph-6 {padding: 0 6px;}
.ph-7 {padding: 0 7px;}
.ph-8 {padding: 0 8px;}
.ph-9 {padding: 0 9px;}
.ph-10 {padding: 0 10px;}

.pv-1 {padding: 1px 0;}
.pv-2 {padding: 2px 0;}
.pv-3 {padding: 3px 0;}
.pv-4 {padding: 4px 0;}
.pv-5 {padding: 5px 0;}
.pv-6 {padding: 6px 0;}
.pv-7 {padding: 7px 0;}
.pv-8 {padding: 8px 0;}
.pv-9 {padding: 9px 0;}
.pv-10 {padding: 10px 0;}

.badge{display: inline-block;min-width: 10px;line-height: 1;color: #FFF;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 17px;width: 29px;height: 18px;padding-top: 7px;padding-bottom: 3px;font-family: sd_eurostile_elite_demoRg;}
.badge span{display:block;text-align:center}
.badge.many{font-size: 17px;width: 25px;padding-right: 3px;}
.badge.single{font-size:20px}
.badge.single.zero{display: none;}
.male-avatar{border:3px solid #21A4D5}
.female-avatar{border:3px solid #ff92a9}
.vip{width:32px;height:31px;position:absolute;z-index:99;top:0;left:0}
.vip.male-vip{background:url(/img/icons.png) 0 -192px no-repeat}
.vip.female-vip{background:url(/img/icons.png) -32px -192px no-repeat}
header {background-color:#E2F4FF;height:97px;box-shadow:0 0 2px 1px rgba(0,0,0,0.6);}
header ul.menu li{float:left;width:183px;font-family:ralev001;font-weight:400;height:97px;cursor:pointer}
header ul.menu li:hover{box-shadow:0 0}
header ul.menu li.heart{background:fixed #f69e9e url(/img/header/backgrounds/normal/heart.png) 0 0 repeat-x;color:#aa3b3b;font-size:29px;-moz-transition:font-size 3s 1s ease;-o-transition:font-size 3s 1s ease;-webkit-transition:font-size 3s 1s ease}
header ul.menu li.heart .content{padding:16px 0 0 17px}
header ul.menu li.heart .content span.label{float:left;margin:19px 0 0 20px}
header ul.menu li.heart:hover{background:fixed #f69e9e url(/img/header/backgrounds/hover/heart.png) 0 0 repeat-x}
header ul.menu li.heart.active{background:fixed #f69e9e url(/img/header/backgrounds/passed/heart.png) 0 0 repeat-x}
header ul.menu li.heart.active .content span.label{float:left;margin:19px 0 0 18px}
header ul.menu li.heart div.heart-ico{width:65px;height:61px;background:url(/img/icons.png) 0 0 no-repeat;float:left}
header ul.menu li.heart div.heart-ico span.remaining {color: #FFC3E5;font-size: 16px;font-family: ralev001;left: 30px;top: 32px;font-weight: bold;position: absolute;display: none;}
header ul.menu li.heart div.heart-ico span.remaining.visible {display: block}
header ul.menu li.heart:hover div.heart-ico{background:url(/img/icons.png) 0 -64px no-repeat}
header ul.menu li.heart.active div.heart-ico{background:url(/img/icons.png) 0 -129px no-repeat}
header ul.menu li.message{background:fixed #ffdb8d url(/img/header/backgrounds/normal/message.png) 0 0 repeat-x;color:#e26e06;font-size:16px;width:193px;margin:0 1px}
header ul.menu li.message .badge{position:absolute;background-color:#FFF;border:3px solid #FDC260;color:#F81C25;margin:35px 0 0 50px}
header ul.menu li.message .content span.label{float:left;margin:28px 0 0 15px}
header ul.menu li.message:hover{background:fixed #ffdb8d url(/img/header/backgrounds/hover/message.png) 0 0 repeat-x}
header ul.menu li.message.active{background:fixed #f69e9e url(/img/header/backgrounds/passed/message.png) 0 0 repeat-x}
header ul.menu li.message.active .content span.label{float:left;margin:28px 0 0 10px}
header ul.menu li.message div.msg-ico{width:74px;height:61px;background:url(/img/icons.png) -73px 0 no-repeat;float:left}
header ul.menu li.message:hover div.msg-ico{background:url(/img/icons.png) -73px -64px no-repeat}
header ul.menu li.message.active div.msg-ico{background:url(/img/icons.png) -73px -129px no-repeat}
header ul.menu li.notification{background:fixed #73c5eb url(/img/header/backgrounds/normal/notification.png) 0 0 repeat-x;color:#296e8a;font-size:16px;width:193px}
header ul.menu li.notification .badge{position:absolute;background-color:#FFF;border:3px solid #4d9cdf;color:#F81C25;margin:35px 0 0 35px}
header ul.menu li.notification .content span.label{float:left;margin:28px 0 0 14px}
header ul.menu li.notification:hover{background:fixed #73c5eb url(/img/header/backgrounds/hover/notification.png) 0 0 repeat-x}
header ul.menu li.notification.active{background:fixed #f69e9e url(/img/header/backgrounds/passed/notification.png) 0 0 repeat-x}
header ul.menu li.notification.active .content span.label{margin:28px 0 0 7px}
header ul.menu li.notification div.notif-ico{width:60px;height:61px;background:url(/img/icons.png) -154px 0 no-repeat;float:left}
header ul.menu li.notification:hover div.notif-ico{background:url(/img/icons.png) -154px -66px no-repeat}
header ul.menu li.notification.active div.notif-ico{background:url(/img/icons.png) -154px -131px no-repeat}
header div.user-profile {float:left;font-family:Segoe_UI;font-weight:lighter;padding:1px 2px 2px 7px}
header div.user-profile .buy-button {position: absolute;left: -6px;bottom: -12px;width: 91px;height: 17px;border-radius: 3px;color: #FFF;text-align: center;text-decoration: none;font-size: 13px;padding-top: 2px;}
header div.user-profile .info-bar {float:left;margin-left:9px;position: relative;}
header div.user-profile .info-bar .already-vip {width: 109px;clear: both;padding: 0px 8px;position: absolute;left: 25px;font-size: 14px;bottom: -2px;color: #45617E;text-decoration: none;font-family: Segue_UI;font-weight: bold;}
header div.user-profile .info-bar .already-vip:hover {text-decoration: underline};
header div.user-profile .info-bar .rating{margin-top:5px}
header div.user-profile .info-bar .user-vip {margin-top:4px; color:#45617e;}
header div.user-profile .info-bar .money{margin-top:5px;}
header div.user-profile .info-bar .money .ico-money {cursor: pointer;}
header div.user-profile .info-bar .rating .position{font-size:15px;font-weight:700;color:#45617e;margin-left:13px}
header div.user-profile .info-bar .money .balance{font-size:15px;font-weight:700;color:#45617e;margin-left:11px}
header div.user-profile .user-name {color: #587BA1;font-size: 14px;overflow: hidden;width: 125px;height: 16px;display: block;text-decoration: none;margin: 4px 0 5px 0;}
header div.user-profile .user-name .name-wrapper {max-width: 103px;display: block;float: left;overflow: hidden; margin-right: 5px;  }
header div.user-profile .user-name .name-wrapper div {width: 300px;}
header div.user-profile .avatar{height:80px;border-radius:4px;max-width:80px;float:left;position:relative}
header div.user-profile .avatar img{max-width:83px;max-height:80px}
header div.user-profile .view_count {cursor: pointer; text-decoration: none;}
header div.user-profile .view_count.new {font-weight: bold; color: #F00; text-decoration: underline;}

header div.user-profile.male .buy-button {background-color: #21A4D5;border: 1px solid #0A97CD;border-top-color: #31CDFF;}
header div.user-profile.male .buy-button:hover {background-color: #26bff8;border: 1px solid #0a97cd;border-top-color: #3aeeff;}
header div.user-profile.male .buy-button:active {background-color: #0778aa;border: 1px solid #098fc1;}

header div.user-profile.female .buy-button {background-color: #ff92a9;border: 1px solid #d57a8d;border-top-color: #ffb7dc;}
header div.user-profile.female .buy-button:hover {background-color: #ffa3b6;border: 1px solid #d57a8d;border-top-color: #ffcceb;}
header div.user-profile.female .buy-button:active {background-color: #d5657a;border: 1px solid #d57a8d;}

#content{background:url(/img/content/main-bg.png) 0 0 repeat;width:100%;height:598px}
footer {height:39px;background:url(/img/content/footer-bg.png);position:relative;bottom:30px;width:100%}
footer ul.menu{float:right;margin:2px 16px 0 0}
footer ul.menu li .ico{cursor:pointer}
footer ul.menu span {color: #386B96;font-size: 13px;font-family: Segoe_UI;font-weight: bold;cursor: pointer;}
footer ul.menu .add-to-menu {cursor: pointer;}
footer ul.menu .ico-to-menu {margin-right: 4px;}
footer ul.menu .add-to-menu-block {margin-top: 8px; margin-right: 11px;}
footer ul.menu .add-to-menu-block:hover span {text-decoration: underline;}
footer ul.menu .sound-switcher:hover span {text-decoration: underline;}
footer ul.menu .ico-faq{margin:1px 18px 0}
footer ul.menu .sound-switcher {margin: 8px 9px 0 0;}
.sd-box {box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);}
.sd-box.g-sd{box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.34);border-radius: 6px;}
.sd-wrapper {border-radius:8px;width:100%;margin-top:-2px}
.sd-wrapper.male {background: url(/img/game/sd-male.png) 0 0 repeat;}
.sd-wrapper.female {background: url(/img/game/sd-female.png) 0 0 repeat;}
.sd-btn{width:100%;height:37px; position:absolute;bottom:0;left:0;font-size:12px;font-family:Segoe_UI;font-weight:700}
.sd-wrapper.male .sd-btn{border:0;cursor:pointer;color:#fff;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background:url(/img/content/styled-dialog/male/btn-bg.png) 0 0 repeat-x}
.sd-wrapper.male .sd-btn:not(.ui-state-disabled):hover{background:url(/img/content/styled-dialog/male/btn-over-bg.png) 0 0 repeat-x}
.sd-wrapper.male .sd-btn:not(.ui-state-disabled):active{text-shadow:0 2px 2px rgba(255,255,255,0.3);background:url(/img/content/styled-dialog/male/btn-passed-bg.png) 0 0 repeat-x}
.sd-wrapper.female .sd-btn{border:0;cursor:pointer;color:#fff;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background:url(/img/content/styled-dialog/female/btn-bg.png) 0 0 repeat-x}
.sd-wrapper.female .sd-btn:not(.ui-state-disabled):hover{background:url(/img/content/styled-dialog/female/btn-over-bg.png) 0 0 repeat-x}
.sd-wrapper.female .sd-btn:not(.ui-state-disabled):active{text-shadow:0 2px 2px rgba(255,255,255,0.3);background:url(/img/content/styled-dialog/female/btn-passed-bg.png) 0 0 repeat-x}
.leader {border-radius:7px;margin-top:-2px}
#leader {float:left;padding-top:9px;padding-left:12px}
#leader .leader-label{width:153px;height:25px;background:url(/img/icons.png) 0 -227px no-repeat}
.leader .avatar{width:100px;height:100px;border-radius:3px;position:relative;margin:21px auto 0}
.leader .bet-info{font-family:Segoe_UI;font-weight:700;color:#2877a3;text-align:center;margin:11px auto 12px}
.leader .bet-info .bet-label{font-size:12px}
.leader .bet-info .bet{font-size:16px}
.leader .avatar img{width:100%}
.leader-text {position: relative;width: 160px;min-height: 80px;left: 169px;top: 39px;}
.leader-text .bg {background: url(/img/leader-text.png);}
.leader-text .l-top {height: 67px; width: 185px;background-position: -4px -12px;}
.leader-text .l-bottom {background-position: -9px -89px;height: 13px;width: 189px;margin-left: 5px;}
.leader-text .content {background: url(/img/leader-text-line.png) -1px 0px;min-height: 20px;width: 158px;margin-left: 24px;}
.leader-text .txt {line-height: 17px;font-family: Segoe_UI; color: #45617e; font-weight: bold; font-size: 14px;top: 7px;left: 38px; width: 139px; position: absolute;}

.sd-wrapper.male .bet-info{color:#2877a3}
.sd-wrapper.female .bet-info{color:#7c4759}

.sd-wrapper.male .rBorder {border-right: 1px solid #7ACFE9;}
.sd-wrapper.male .lBorder {border-left: 1px solid #7ACFE9;}

.sd-wrapper.female .rBorder {border-right: 1px solid #d87b9b}
.sd-wrapper.female .lBorder {border-left: 1px solid #d87b9b}

.question_dialog .left{margin-left:13px;position:absolute;top:-14px}
.question_dialog .right {margin-left:123px;margin-top:21px;position:absolute;top:-15px}
.question_dialog .right textarea {resize:none;font-family:"SegoeUI SemiBold";font-weight:700;font-style:italic;font-size:15px;width:260px;height: 106px;margin-left:5px;padding:5px 0 0 8px}
.question_dialog .right textarea.male{border:2px solid #7bb5dd;color:#5E8AA5;position:relative;box-shadow: inset 0 0 3px 2px rgba(100, 172, 221, 0.5);}
.question_dialog .right textarea.female{border:1px solid #e898b0;color:#057EC5; position: absolute;box-shadow: inset 0 0 3px 2px rgba(232, 152, 176, 0.5);}
.question_dialog .avatar{width:88px;height:88px;margin:0 auto}
.question_dialog .icons{margin-top:11px}
.question_dialog .icons .females{float:left;text-align:center}
.question_dialog .icons .males{float:left;text-align:center;margin-left:19px}
.question_dialog .count{font-size:16px;font-family:"SegoeUI SemiBold";font-weight:700;color:#FFF;clear:both}
.question_dialog .random-question {background: url(/img/random-icon.png);width: 20px;height: 20px;display: block;position: relative;bottom: -4px;left: 20px;}
.question_dialog .play-unlimit {position: absolute;left: 46px;top: 116px;}
.question_dialog .play-unlimit label {margin-top: 8px; display: block; width: 160px;}
.question_dialog .ico-random {position: absolute;left: 7px;top: 118px;}

.male .play-unlimit label {color: #284c6b;}
.female .play-unlimit label {color: #823b49;}

.tape {width:100%;height:86px;position:relative;bottom:0;float:left;margin-top:266px}
.tape .set-btn{margin-left: -5px;height:85px;width:55px;background:url(/img/content/tape/btn/btn.png);float:left;border-top-right-radius:3px;border-bottom-right-radius:3px;box-shadow:0 0 3px rgba(0,0,0,0.4);margin-top:2px;cursor:pointer}
.tape .set-btn{-webkit-transition:margin-left .2s ease;-moz-transition:margin-left .2s ease;-ms-transition:margin-left .2s ease;-o-transition:margin-left .2s ease;transition:margin-left .2s ease;}
.tape .set-btn .label{margin-top:7px;margin-left:8px;width:38px;height:73px;display:block;background:url(/img/icons.png) -271px 5px no-repeat}
.tape .set-btn:hover {background:url(/img/content/tape/btn/btn-hover.png); margin-left: 0;}
.tape .set-btn:hover .label{background:url(/img/icons.png) -310px 5px no-repeat}
.tape .set-btn:active{background:url(/img/content/tape/btn/btn-passed.png)}
.tape .set-btn:active .label{background:url(/img/icons.png) -351px 5px no-repeat}
.tape .user-list{overflow:hidden;margin-left:60px;width:736px}
.tape .all{float:left;width:2000px;margin-top:0;height:88px;z-index:100;position:relative;padding:3px 3px 0}
.tape .user {border-width:2px; border-radius: 5px;display:block;float:left;width:auto;height:80px;border-radius:3px;cursor:pointer;margin:0 5px 0 0; position: relative;border-radius: 8px;}
.tape .user img {border-radius: 6px; min-width: 100%;max-height: 100%;min-height: 80px;max-width: 80px;}
#ribbon textarea{width:298px;height:78px;margin-top:10px;border-radius:2px;border:1px solid #CCC;resize:none;padding:8px}
#ribbon b {font-weight: bold;font-size: 14px;text-decoration: underline;}
#ribbon .charsLeft {position: absolute;right: 29px;bottom: 60px;padding: 5px 7px 5px 5px;border-radius: 3px;background: #21A4D5;color: #FFF;}
.online-user{position:absolute;width:100%;margin-top:29px}
header ul.menu,header ul.menu li .content,footer ul.menu li{float:left}
header ul.menu li.heart.active .content span,header ul.menu li.message.active .content span,header ul.menu li.notification.active .content span{font-weight:700}
header ul.menu li.message .content,header ul.menu li.notification .content{padding:14px 0 0 12px}
header div.user-profile .info-bar .rating .pos-label,header div.user-profile .info-bar .money .balance-label{font-size:12px;color:#587ba1}

#leadership_di  alog {padding-left: 27px;}
#leadership_dialog textarea{width:336px;height:78px;margin-top:10px;border-radius:2px;border:1px solid #CCC;resize:none;padding:8px;color: #8798A4;}
#leadership_dialog b {font-weight: bold;font-size: 14px;text-decoration: underline;}
#leadership_dialog .charsLeft {position: absolute;right: 20px;bottom: 55px;padding: 5px 7px 5px 5px;border-radius: 3px;background: #21A4D5;color: #FFF;}
#leadership_dialog span.error {color: #F00;font-size: 11px;position: absolute;bottom: 60px;left: 22px;}

.o01{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";filter:alpha(opacity=10);-moz-opacity:0.1;-khtml-opacity:0.1;opacity:0.1}
.o02{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity:0.2;opacity:0.2}
.o03{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3}
.o04{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4}
.o05{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5}
.o06{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6}
.o07{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7}
.o08{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8}
.o09{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity:0.9;opacity:0.9}
.o10{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}

.c-red {color: #FF0000}

.messages article{float:left;width:615px;height:570px;background:#b5daf0;position:relative}
.messages .message-box{width:615px;height:441px;position: absolute;top: -100000px}
.messages .message-box .d .loading {margin-top: 5px;}
.messages .message-box>div{height: 441px;}
.messages .message-box.shown{position: static; top: 0;}
.messages article .textarea-box {position:absolute;bottom:0;width:610px;height:124px;resize:none;background:url(/img/messages/box-area.png) repeat-x;margin-left:2px;box-shadow:0 0 4px rgba(0,0,0,0.3)}
.messages article .textarea-box .ico-photo-attach {margin-top: 4px;}
.messages article .textarea-box.ui-state-disabled .ico-photo-attach {display: none;}

.blocked {display: none; cursor: default; color: #45617E;position: absolute;bottom: 72px;left: 89px;}
.blocked a {font-weight: bold; color: #45617E;}
.blocked.active {display: block;}

.myBlocked {left: 21px;}

.messages article.has-conv .no-conv-label{position:absolute;top:-10000000px}
.messages article.has-no-conv .no-conv-label{position:static;text-align:center;margin-top:17px;font-size:14px;font-family:Segoe_UI}
.messages article.has-no-conv   .select-conv-label {display: none;}
.messages article .select-conv-label{position: absolute;text-align: center;font-size: 14px;font-family: Segoe_UI;margin: 20px auto 0;width: 100%;z-index: 0;}
.messages article .textarea-box #message{line-height: 21px;width:409px;height:57px;background:#FFF;box-shadow:inset 0 1px 3px 3px #CBDFEB;float:left;color:#45617E;overflow:auto;font-family:Segoe_UI;font-size:14px;margin:7px 0 0 5px;padding:10px 10px 5px}
.messages article .textarea-box #message img {margin: 0 0 -3px 3px;}
.messages article .textarea-box #smiles{float:right;width:168px;height:127px;margin:6px 0 0 4px}
.messages article .textarea-box #smiles .vk-icon{display:block;float:left;margin:0;padding:6px 4px 0 0}
.messages article .textarea-box.ui-state-disabled {pointer-events: none;cursor: default;}
.messages article .textarea-box:not(.ui-state-disabled) #sendMessage{float:left;margin-left:2px;background:url(/img/icons.png);width:143px;height:40px;background-position:-266px -1068px}
.messages article .textarea-box:not(.ui-state-disabled) #sendMessage:hover{background-position:-266px -1110px}
.messages article .textarea-box:not(.ui-state-disabled) #sendMessage:active{background-position:-266px -1151px}
.messages .message-box .msg-item {width:533px;min-height:56px;background:url(/img/messages/mess-bg.png) repeat;position:relative;float:left;box-shadow:0 0 2px 1px rgba(78,151,178,0.5);font-family:Segoe_UI;border-radius:4px;border-top:1px solid rgba(255,255,255,0.65);border-left:1px solid rgba(255,255,255,0.3);transition:height 1s ease-out;margin:9px 0 0 46px;margin: 9px 0 0 53px;}
.messages .message-box .msg-item .msg img{margin: 0 0 -3px 3px;}
.messages .message-box .msg-item .msg img.attachment {display: block; margin: 10px 0 0 0;max-width: 150px;max-height: 150px;cursor: pointer;}
.messages .message-box .msg-item .footer .ico{width:16px;height:16px;margin-right:5px}
.messages .message-box .msg-item .footer .ico:last-child{margin-right:0}
.messages .message-box .msg-item .footer{float:right;margin-top:-24px;margin-right:10px}
.messages .message-box .msg-item:last-child{margin-bottom:15px}
.messages .message-box .msg-item.male-unread .header,.messages .message-box .msg-item.female-unread .header{color:#fff}
.messages .message-box .msg-item:not(.female-unread):not(.male-unread):hover .footer{opacity:1;}
.messages .message-box .msg-item div.header{color:#587BA1;text-shadow:1px 1px rgba(0, 0, 0, 0.1);}
.messages .message-box .msg-item div.header time{float:right;font-size:12px;margin:10px 8px 0 0}
.messages .message-box .msg-item div.header p.name{padding-left:27px;margin-top:8px;font-size:15px;text-shadow:1px 1px #CCC;float:left}
.messages .message-box .msg-item p.msg{color:#45617E;padding-left:36px;padding-bottom:13px;margin-top:29px;font-size:16px;text-shadow:0 1px rgba(226,244,255,0.74);clear:both}
.messages .message-box .msg-item .avatar-box{width:57px;height:56px;background:url(/img/messages/mess-bg.png);position:absolute;left:-38px;border-radius:33px;overflow:hidden;box-shadow:0 0 5px rgba(78,151,178,0.5);border-top:1px solid #FFF;border-right:none;border-bottom:1px solid rgba(0,0,0,0.2)}
.messages .message-box .msg-item .avatar-box img{width:46px;border-radius:31px;margin:2px 0 0 3px}
.messages .message-box .msg-item .avatar-box.female img{border:3px solid #ffb8c6}
.messages .message-box .msg-item .avatar-box.male img{border:3px solid #91d1ef}
.messages .message-box .footer{display:block;-webkit-transition:opacity 1s ease-out, height .7s ease;-moz-transition:opacity 1s ease-out, height .7s ease;-ms-transition:opacity 1s ease-out, height .7s ease;-o-transition:opacity 1s ease-out, height .7s ease;transition:opacity 1s ease-out, height .7s ease;opacity:0;height:20px;overflow:hidden}

.messages .left-side {width:183px;border-right:1px solid #73b1d5;background:#a3d1ec;float:left;height:574px}
.messages .left-side .item {width:100%;height:48px;margin-bottom:9px;position:relative;cursor:pointer}
.messages .left-side .item .num{width:17px;height:13px;background:#FFF;position:absolute;border-radius:17px;text-align:center;right:2px;bottom:-7px;font-family:sd_eurostile_elite_demoRg;padding-top:4px;font-size:14px}
.messages .left-side .item.female .num{color:#C76286;border:2px solid #FFABBC}
.messages .left-side .item.male .num{color:#62a2c7;border:2px solid #21a4d5}
.messages .left-side .item .num.many{font-size:11px;width: 16px;padding-right: 2px;}
.messages .left-side .item:first-child{margin-top:3px}
.messages .left-side .item .content{float:left;margin:5px 0 0 4px}
.messages .left-side .item .content img{width:35px;height:35px;float:left;border-radius:4px;border:2px solid rgba(255,255,255,0.3)}
.messages .left-side .item .content .info{float:left;margin:3px 0 0 7px}
.messages .left-side .item .content .info .name{color:#fff;font-size:11px;font-family:Segoe_UI}
.messages .left-side .item .content .info .details{font-size:11px;font-family:Segoe_UI;margin-top:6px}
.messages .left-side .item.female{background:url(/img/messages/female-mess-bg.png)}
.messages .left-side .item.female.selected,.messages .left-side .item.female:hover{background:url(/img/messages/female-mess-bg-selected.png)}
.messages .left-side .item.male{background:url(/img/messages/male-mess-bg.png)}
.messages .left-side .item.male.selected,.messages .left-side .item.male:hover{background:url(/img/messages/male-mess-bg-selected.png)}
.messages .message-box .msg-item.male-unread,.messages .message-box .msg-item.male-unread .avatar-box{background:url(/img/messages/mess-bg-male-unread.png)}
.messages .message-box .msg-item.male-unread .footer,.messages .message-box .msg-item.female-unread .footer,.messages .left-side .item .num.zero,.messages .left-side .item.selected .num{display:none}
.messages .message-box .msg-item.female-unread .msg,.messages .left-side .item.female .content .info .details{color:#8a5660;line-height: 21px;}
.messages .message-box .msg-item.male-unread .msg,.messages .left-side .item.male .content .info .details{color:#305a7f;line-height: 21px;}
.messages .message-box .msg-item.female-unread,.messages .message-box .msg-item.female-unread .avatar-box{background:url(/img/messages/mess-bg-female-unread.png)}
.messages .message-box .msg-item.male-unread div.header p.name, .messages .message-box .msg-item.female-unread div.header p.name {text-shadow: 1px 1px rgba(0,0,0,0.3);}
.messages .message-box .msg-item.male-unread div.header time, .messages .message-box .msg-item.female-unread div.header time {text-shadow: 1px 1px rgba(0,0,0,0.3);}

#userProfile {padding: 0; overflow: hidden;}
.profile .leftSide {float: left; width: 189px;height:620px;background: url(/img/profile/leftBg.png);box-shadow: inset 0 0 2px 2px rgba(255, 255, 255, 0.4);border-right: 1px solid rgba(151, 193, 218, 1);position: relative;}
.profile .leftSide .mosaic-overlay {width: 165px;}
.profile .leftSide .mosaic-overlay:hover {text-decoration: none;}
.profile .leftSide .menu {text-align: center;width: 178px;margin: 0 auto;}
.profile .leftSide .menu a {font-weight: 700;color: #FFF;font-family: Segoe_UI;text-decoration: none;padding-top: 16px;font-size: 14px;width: 175px;height: 29px;display: block;background: url(/img/icons.png);}
.profile .leftSide .avatar {width: 165px; margin: 0 auto 0;height: auto;position: relative;}
.profile .leftSide .status-ico {position: absolute; right: 0; top: 0;}
.profile .leftSide .avatar img{min-width: 165px; max-width: 165px;max-height: 315px;}
.profile .leftSide .sympathy {height: 28px; float: left;}
.profile .leftSide .menu-icons {margin: 19px 2px 0;}
.profile .leftSide .menu-icons li {width: 100%;padding: 10px 0 6px; color: #fff; font-size: 13px;background: url(/img/profile/btn-male-bg.png) repeat-x;position: relative;height: 26px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.profile .leftSide .menu-icons li a.ico {position: absolute;left: 6px;top: 9px;}
.profile .leftSide .menu-icons li p.label {position: absolute;left: 46px;top: 15px;}
.profile .leftSide .send-vip {display: block; text-align: center;}
.profile .leftSide .send-money {display: block; text-align: center;}
.profile .leftSide .menu-icons li.clickable {cursor: pointer;}

.profile .ico-kiss-div {width: auto;height: 18px;position: absolute; top: 0;left: 0; padding: 7px;;background: rgba(0, 0, 0, 0.35);}
.profile .ico-kiss-div span {color: #FFC3E5;font-size: 16px;font-family: ralev001; margin-left: 5px;font-weight: bold;}
.profile .ico-kiss-small {background: url(/img/profile-icons.png) -92px -50px; width: 22px; height: 22px; display: block; float: left}

.profile .female .sympathy {background: url(/img/profile-icons.png?25) 0 -157px;height: 43px;float: left;width: 59px;}
.profile .female .kiss {background: url(/img/profile-icons.png?25) 0 -157px;height: 51px;float: left;width: 59px;}
.profile .female .kiss .ico {background: url(/img/profile-icons.png) -80px -9px;width: 42px;height: 34px;margin: 5px 0 0 8px;}
.profile .female .mess {background: url(/img/profile-icons.png?25) 0 -157px;height: 51px;float: left;width: 59px;}
.profile .female .mess .ico {margin: 10px 13px;}
.profile .female .sympathy .ico-mess-to {margin: 10px 0 0 13px;}

.profile .male .sympathy {background: url(/img/profile-icons.png?25) 0 -116px;height: 43px;float: left; width: 59px;}
.profile .male .kiss {background: url(/img/profile-icons.png?25) 0 -116px;height: 51px;float: left;width: 59px;}
.profile .male .kiss .ico {background: url(/img/profile-icons.png) -80px -9px;width: 42px;height: 34px;margin: 5px 0 0 8px;}
.profile .male .mess {background: url(/img/profile-icons.png?25) 0 -116px;height: 51px;float: left;width: 59px;}
.profile .male .mess .ico {margin: 10px 13px;}
.profile .male .sympathy .ico-mess-to {margin: 10px 0 0 13px;}

.profile .rightSide {float: left; width: 410px; height: 565px; background-color: #A3D1EC;}
.profile .rightSide .form {margin: 31px 0 0 23px;}
.profile .rightSide .form .formRow {font-family: Segoe_UI;margin-top: 20px;}
.profile .rightSide .form .formRow .flags { width: 308px;}
.profile .rightSide .form .formRow .flags img {width: 28px;height: 16px;margin-bottom: 4px;}
.profile .rightSide .form .formRow .p-flag {margin: 0 5px 0 0;border: 2px solid rgba(0,0,0,0);cursor: pointer}
.profile .rightSide .form .formRow .p-flag.selected, .profile .rightSide .form .formRow .p-flag:hover{border: 2px solid #FFF;}
.profile .rightSide .form .formRow:first-child {margin-top: 0}
.profile .rightSide .form .formRow .label {color: #45617E;font-size: 13px;clear: both; margin-left: 4px; margin-bottom: 3px;display: block}
.profile .rightSide .form .formRow input[type="text"]{font-size: 18px;color: #45617E;background-color: #ACD6EE;border: 0;margin-top: 8px;margin-left: 9px;width: 283px;padding: 6px;}
.profile .rightSide .no-error {display: none;}
.profile .rightSide .error {display: block;  width: 93%;margin: 10px 0 0 10px; padding: 5px; background-color: #E74551; border-radius: 3px;}
.profile .rightSide .error p {height: 24px; padding-top: 10px;border: 3px solid #FFF; border-radius: 3px;color: #FFF;text-align: center;}
.profile .rightSide .success {display: block; width: 93%; margin: 10px 0 0 10px; padding: 5px; background-color: #1bcfa2; border-radius: 3px;}
.profile .rightSide .success p {height: 24px; padding-top: 10px;border: 3px solid #FFF; border-radius: 3px;color: #FFF;text-align: center;}
.profile .rightSide .buy-button {background: url(/img/profile-patron-btn.png) repeat-x;color: #FFF;padding: 9px;width: 163px;display: block;float: right;border-right: 1px solid #73B1D5;border-left: 1px solid #73B1D5;border-radius: 5px;text-decoration: none;}
.profile .rightSide .cost-info {position: absolute; right: -67px; top: 71px; width: 193px;}
.profile .rightSide .cost-info .ico-currency {margin-top: -5px;}
.profile .rightSide .cost-info .ico-patron-rating {margin-top: -5px;}
.profile .rightSide .cost-info .cost {float: left}
.profile .rightSide .cost-info .cost label {color: #186650; margin-left: 4px;}
.profile .rightSide .cost-info .rating {float: left}
.profile .rightSide .cost-info .rating label {color: #e44627; margin-left: 4px;}

.profile .leftSide.male .menu-icons li {background: url(/img/profile/btn-male-bg.png) repeat-x;}
.profile .leftSide.male .menu-icons li.clickable:active {background: url(/img/profile/btn-active-male-bg.png) repeat-x;}
.profile .leftSide.male .menu-icons li p.value {position: absolute;right: 8px;top: 14px;color: #2D5577;font-weight: bold;font-size: 15px;}

.profile .leftSide.female .menu-icons li {background: url(/img/profile/btn-female-bg.png) repeat-x;}
.profile .leftSide.female .menu-icons li.clickable:active {background: url(/img/profile/btn-active-female-bg.png) repeat-x;}
.profile .leftSide.female .menu-icons li p.value {position: absolute;right: 8px;top: 14px;color: #7f4b4b;font-weight: bold;font-size: 15px;}

.profile .rightSide.male .form .formRow .profile {background: url(/img/profile.png);}
.profile .rightSide.male .form .formRow .name {width: 311px;height: 51px;background-position: 3px -97px;}
.profile .rightSide.male .form .formRow .day {width: 78px;height: 51px;background-position: 3px -147px; float: left}
.profile .rightSide.male .form .formRow .day input[type="text"] {width: 50px;margin-top: 9px;text-align: center;}
.profile .rightSide.male .form .formRow .month {width: 79px;height: 51px;background-position: -77px -147px; float: left; margin-left: 1px}
.profile .rightSide.male .form .formRow .month input[type="text"] {width: 49px;margin-top: 9px;text-align: center;}
.profile .rightSide.male .form .formRow .year {width: 153px;height: 51px;background-position: -157px -147px; float: left;margin-left: 1px;}
.profile .rightSide.male .form .formRow .year input[type="text"] {width: 123px;margin-top: 8px;text-align: center;}
.profile .rightSide.male .form .formRow .city {width: 307px;height: 55px;background-position: -346px 0;margin-left: 2px}
.profile .rightSide.male .form .formRow .city #city-select {color: #45617e;font-size: 18px; width: 221px;margin-top: 7px;height: 35px;border: none;background: rgba(0, 0, 0, 0);padding: 3px 8px;margin-left: 3px;}
.profile .rightSide.male .form .formRow .city .ui-button {width: 62px;height: 45px;margin: -8px 0 0 2px;border:none; background: rgba(0,0,0,0)}
.profile .rightSide.male .form .formRow .city .ui-button:hover < .city {background-position: 0 0}
.profile .rightSide.male .form .formRow .city .ui-button:active < .city {background-position: 0 0}
.profile .rightSide.male .form .formRow .chk{width: 40px;height: 37px;display: block;background: url(/img/profile.png);background-position: -658px -6px;}
.profile .rightSide.male .form .formRow .chk.checked{width: 40px;height: 37px;display: block;background: url(/img/profile.png);background-position: -658px -48px;}
.profile .rightSide.male .form .formRow .custom-checkbox {float: left;}
.profile .rightSide.male .form .formRow #show-profile-label {display: inline;}
.profile .rightSide.male .form .formRow .label-wrapper {float: left; margin-top: 11px;}
.profile .rightSide.male .form .formRow .save-btn {width: 309px; height: 45px; display: block;background: url(/img/profile.png);float: left}
.profile .rightSide.male .form .formRow .save-btn {background-position: 0 -205px;}
.profile .rightSide.male .form .formRow .save-btn:hover {background-position: 0 -251px;}
.profile .rightSide.male .form .formRow .save-btn:active {background-position: 0 -296px;}
.profile .rightSide.male .form .formRow .close {float: left;padding: 12px 0 0 10px;}

.profile .rightSide.female .form .formRow .profile {background: url(/img/profile.png);}
.profile .rightSide.female .form .formRow .name {width: 311px;height: 51px;background-position: 3px 1px;}
.profile .rightSide.female .form .formRow .day {width: 78px;height: 51px;background-position: 3px -48px; float: left}
.profile .rightSide.female .form .formRow .day input[type="text"] {width: 50px;margin-top: 9px;text-align: center;}
.profile .rightSide.female .form .formRow .month {width: 79px;height: 51px;background-position: -77px -48px; float: left; margin-left: 1px}
.profile .rightSide.female .form .formRow .month input[type="text"] {width: 49px;margin-top: 9px;text-align: center;}
.profile .rightSide.female .form .formRow .year {width: 153px;height: 51px;background-position: -157px -48px; float: left;margin-left: 1px;}
.profile .rightSide.female .form .formRow .year input[type="text"] {width: 123px;margin-top: 8px;text-align: center;}
.profile .rightSide.female .form .formRow .city {width: 307px;height: 55px;background-position: -346px -163px;margin-left: 2px}
.profile .rightSide.female .form .formRow .city #city-select {color: #875162;font-size: 18px; width: 221px;margin-top: 7px;height: 35px;border: none;background: rgba(0, 0, 0, 0);padding: 3px 8px;margin-left: 3px;}
.profile .rightSide.female .form .formRow .city .ui-button {width: 62px;height: 45px;margin: -8px 0 0 2px;border:none; background: rgba(0,0,0,0)}
.profile .rightSide.female .form .formRow .city .ui-button:hover < .city {background-position: 0 0}
.profile .rightSide.female .form .formRow .city .ui-button:active < .city {background-position: 0 0}
.profile .rightSide.female .form .formRow .chk{width: 40px;height: 37px;display: block;background: url(/img/profile.png?15);background-position: -658px -88px;}
.profile .rightSide.female .form .formRow .chk.checked{width: 40px;height: 37px;display: block;background: url(/img/profile.png?15);background-position: -658px -129px;}
.profile .rightSide.female .form .formRow .custom-checkbox {float: left;}
.profile .rightSide.female .form .formRow #show-profile-label {display: inline;}
.profile .rightSide.female .form .formRow .label-wrapper {float: left; margin-top: 11px;}
.profile .rightSide.female .form .formRow .save-btn {width: 309px; height: 45px; display: block;background: url(/img/profile.png?15);float: left}
.profile .rightSide.female .form .formRow .save-btn {background-position: 0 -342px;}
.profile .rightSide.female .form .formRow .save-btn:hover {background-position: 0 -387px;}
.profile .rightSide.female .form .formRow .save-btn:active {background-position: 0 -433px;}
.profile .rightSide.female .form .formRow .close {float: left;padding: 12px 0 0 10px;}

.profile .rightSide .sponsor {}
.profile .rightSide .sponsor .patron {padding-top: 3px;border-bottom: 1px solid #FFF;height: 182px;box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);}
.profile .rightSide .sponsor .patron span {display: block;background: url(/img/profile.png?15) 0 0;width: 137px;height: 166px;background-position: -351px -349px;float: left;margin-left: 3px;}
.profile .rightSide .sponsor .patron span img {margin: 70px 22px 19px; border-radius: 61px; width: 90px;}
.profile .rightSide .sponsor .patron span img.no-patron {margin: 68px 20px 19px;border-radius: 61px; width: 95px;}
.profile .rightSide .sponsor .retinue-wrap {background: #97C9E8;height: 295px;border-top: 1px solid #FFF;margin-top: 2px;box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);padding-top: 10px;padding-bottom:17px;}
.profile .rightSide .sponsor .retinue-wrap h1 {background: url(/img/profile.png?15) -144px -491px;height: 22px;width: 88px;margin: 0 auto;}
.profile .rightSide .sponsor .retinue-wrap .retinue {float: left;width: 132px;margin: 9px 0px;}
.profile .rightSide .sponsor .retinue-wrap .retinue span {display: block;background: url(/img/profile.png?15) 0 0;width: 137px;height: 126px;background-position: -517px -347px;}
.profile .rightSide .sponsor .retinue-wrap .retinue span img {margin: 25px 18px 18px 23px;border-radius: 55px;width: 89px;}
.profile .rightSide .sponsor .retinue-wrap .retinue-about {color: #2D5577;vertical-align: middle;padding: 99px 13px;}

/*
.profile .rightSide.female .sponsor {}
.profile .rightSide.female .sponsor .patron-wrap {height: 177px;}
.profile .rightSide.female .sponsor .patron {padding-top: 3px;border-bottom: 1px solid #FFF;height: 182px;box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);}
.profile .rightSide.female .sponsor .patron span {display: block;background: url(/img/profile.png) 0 0;width: 137px;height: 166px;background-position: -351px -349px;float: left;margin-left: 3px;}
.profile .rightSide.female .sponsor .retinue-wrap {background: #97C9E8;height: 274px;border-top: 1px solid #FFF;margin-top: 2px;box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);padding-top: 10px;}
.profile .rightSide.female .sponsor .retinue-wrap .retinue {float: left;width: 132px;margin: 9px 0px;}
.profile .rightSide.female .sponsor .retinue-wrap .retinue span {display: block;background: url(/img/profile.png) 0 0;width: 137px;height: 126px;background-position: -517px -347px;}
.profile .rightSide.female .sponsor .retinue-wrap .retinue span img {margin: 25px 18px 18px 23px;border-radius: 55px;width: 89px;}
*/
.profile .rightSide .block {display: none;}
.profile .rightSide .active {display: block;}

.profile .rightSide .sponsor .patron-wrap .patron-text {width: 270px;text-align: center;display: block;margin: 0 auto;}
.profile .rightSide .sponsor .patron-wrap .patron-text .buy-button {margin-top: 15px;margin-right: 13px;}
.profile .rightSide .sponsor .patron-wrap .patron-text h1 {background: url(/img/profile.png?1) -6px -491px;height: 22px;width: 137px;margin-top: 13px;}
.profile .rightSide .sponsor .patron-wrap .patron-text p {padding: 10px 0;text-align: left;color: #2D5577;font-size: 14px;font-family: Segoe_UI;margin-left: 8px;width: 256px;margin-top: 15px;}
.profile .rightSide .sponsor .patron-wrap .patron-text b {display: block;font-size: 24px;}
.profile .rightSide .sponsor .patron-wrap {height: 186px;}
.profile .rightSide .sponsor .retinue-wrap .retinue-about {position: absolute; top: -10000px;}
.profile .rightSide .sponsor .no-retinue .retinue-about {position: static;text-align: center}

.notif {}
.notif .notif-side {width: 377px; height: 567px; border-right: 1px solid #73b1d5; background: #a3d1ec;}
.notif .notif-side .items {height: 525px;}
.notif .notif-side .notif-label {width: 123px;height: 30px;background: url(/img/icons.png) -165px -228px;margin: 11px auto 0;}
.notif .notif-item {width: 100%;height: 48px;background: url(/img/notif/notif.png);font-family: Segoe_UI;position: relative;}
.notif .notif-item.male.new .right-border {height: 44px;width: 2px;background: url(/img/notif/notif-male-right.png);position: absolute;right: 0px;z-index: 100;top: 3px;}
.notif .notif-item.female.new .right-border {height: 44px;width: 2px;background: url(/img/notif/notif-female-right.png);position: absolute;right: 1px;z-index: 100;top: 3px;}
.notif .notif-item .ico-notif-delete {opacity: 0;  -webkit-transition: opacity 0.6s ease-in-out;-moz-transition: opacity 0.6s ease-in-out;-ms-transition: opacity 0.6s ease-in-out;-o-transition: opacity 0.6s ease-in-out;transition: opacity 0.6s ease-in-out;}
.notif .notif-item.new .ico-notif-delete {display: none;}
.notif .notif-item:hover .ico-notif-delete {opacity: 1;}
.notif .notif-item.new.male{background: url(/img/notif/male-new-bg.png);}
.notif .notif-item.new.female{background: url(/img/notif/female-new-bg.png);}
.notif .notif-item .avatar {border-radius: 3px;width: 35px;height: 36px;margin-left: 3px;position: absolute;margin-top: 3px;}
.notif .notif-item .info {float: left; margin: 7px 8px 6px 50px;position: relative;}
.notif .notif-item.new .info .name {color: #FFF;font-size: 14px;margin-top: 2px;text-shadow: 1px 1px rgba(0, 0, 0, 0.15);}
.notif .notif-item.new .info .msg {color: #FFF;font-size: 14px;margin-top: 2px;text-shadow: none;}
.notif .notif-item.male.new .info .msg {color: #305a7f;font-size: 12px;margin-top: 2px;}
.notif .notif-item.female.new .info .msg {color: #8a5660;font-size: 12px;margin-top: 2px;}
.notif .notif-item.new time, .notif .notif-item time {right: 0;position: absolute;font-size: 12px;margin: 6px;}
.notif .notif-item.new time {color: #FFF;text-shadow: 1px 1px rgba(0, 0, 0, 0.15);}
.notif .notif-item time {color:#587ba1;}
.notif .notif-item .info .name {color: #587ba1;font-size: 14px;margin-top: 1px;}
.notif .notif-item .info .msg {color: #45617E;font-size: 12px;margin-top: 2px;text-shadow: 1px 1px rgba(255, 255, 255, 0.6);}
.notif .notif-item .info .msg a {color: #45617e; font-family: Segoe_UI; font-weight: bold;}
.notif .notif-item.female.new .info .msg a {color:#8a5660}
.notif .notif-item.male.new .info .msg a {color:#305a7f}
.new:last-child {margin-bottom: 15px;}

.notif .notif-item .avatar img {width: 35px; height: 35px;margin-top: 1px;}
.notif .notif-item.female .avatar {border: 2px solid #FFB4C4;}
.notif .notif-item.male .avatar {border: 2px solid #21A4D5;}
.notif .notif-item.male .avatar.admin {border: 2px solid rgba(0,0,0,0);}
.notif .notif-rating-side {background: #B5DAF0;width: 422px;height: 600px;}
.notif .notif-rating-side .ratings {height: 525px;}
.notif .notif-rating-side .notif-rating-label {width: 127px;height: 30px;background: url(/img/icons.png) -298px -228px;margin: 14px auto 0;}
.notif .notif-rating-side .item {width: 372px;height: 60px;margin: 0 auto 8px;position: relative;}
.notif .notif-rating-side .item.positive .icon {background: url(/img/icons.png) -228px -263px;width: 52px;height: 60px;float: left;}
.notif .notif-rating-side .item.negative .icon {background: url(/img/icons.png) -291px -263px;width: 52px;height: 60px;float: left;}
.notif .notif-rating-side .item .c time {position: absolute;right: 14px;top: 6px;color: #587BA1;font-size: 10px; font-family: Segoe_UI;font-weight: bold;}
.notif .notif-rating-side .item .c {background: url(/img/notif/rating-bg.png) repeat;height: 58px;float: left; width: 309px;}
.notif .notif-rating-side .item .c .value{font-family: Segoe_UI; font-weight: bold;font-size: 19px;margin: 8px 0 0 12px;}
.notif .notif-rating-side .item .c .txt {color: #587BA1;margin: 7px 0 0 13px;font-weight: 600;font-size: 11px;font-family: Segoe_UI;}
.notif .notif-rating-side .item.positive .c .value {color: #28a584;}
.notif .notif-rating-side .item.negative .c .value {color: #c63030;}
.notif .notif-rating-side .item .end {background: url(/img/icons.png) -348px -262px;width: 10px;height: 60px;float: left;}

.sd-wrapper .dlg {}
.sd-wrapper .dlg .c {margin: 15px 15px 10px 9px;}
.sd-wrapper .dlg .c.c2 {margin: 15px 15px 0 9px;height: 445px;}
.sd-wrapper .dlg .c.c2 .footer {margin-top: 6px;position: absolute;bottom: 41px;}
.sd-wrapper .dlg .c.c2 .estimate {position: absolute;right: 9px;bottom: 121px;z-index: 50000000;}
.sd-wrapper .dlg .items {height: 315px;overflow: hidden;margin: 17px 0 0 0;}

.sd-wrapper.male .dlg .c1 .header {}
.sd-wrapper.male .dlg .c1 .header b {font-family: Segoe_UI;font-weight: bold;color: #45617E;font-size: 16px;}
.sd-wrapper.male .dlg .c1 .header .time {font-family: Segoe_UI;float: right; display: block; color: #1e86ac;font-weight: bold;font-size: 14px;}
.sd-wrapper.male .dlg .c1 .question {font-family: Segoe_UI; color: #45617E;margin-top: 16px;}

.sd-wrapper.male .dlg .c2 .header {}
.sd-wrapper.male .dlg .c2 .header b {font-family: Segoe_UI;font-weight: bold;color: #1495c5;font-size: 12px;}
.sd-wrapper.male .dlg .c2 .header .time {font-family: Segoe_UI;float: right; display: block; color: #1e86ac;font-weight: bold;font-size: 14px;}
.sd-wrapper.male .dlg .c2 .item .q {color: #45617e; font-family: "SegoeUI SemiBold"; font-size: 14px; font-style: italic;margin: 0 0 7px 0;width: 100%;}
.sd-wrapper.male .dlg .c2 .item .q .question-label {padding: 0 7px 0 0;font-weight: bold;}
.sd-wrapper.male .dlg .c2 .item .a {color: #45617e; font-family: "SegoeUI SemiBold"; font-size: 14px;margin: 0 0 7px 0;width: 100%;}
.sd-wrapper.male .dlg .c2 .item .a .answer-label {padding: 0 7px 0 0; font-weight: bold;}
.sd-wrapper.male .dlg .c2 .item .a .answer {font-family: Segoe_UI;}
.sd-wrapper.male .dlg .c2 .comment-label {color: #45617E;font-family: "SegoeUI";font-size: 15px;font-weight: bold;clear: both;}
.sd-wrapper.male .dlg .c2 hr {border: 1px solid #569FD1;margin-bottom: 13px;}

.sd-wrapper.male .dlg .c3 {margin-left: 16px;}
.sd-wrapper.male .dlg .c3 .comment b {color: #45617e;font-family: Segoe_UI;font-weight: bold;}
.sd-wrapper.male .dlg .c3 .comment div {color: #45617e;font-family: Segoe_UI;margin: 10px 2px;}
.sd-wrapper.male .dlg .c3 .header {}
.sd-wrapper.male .dlg .c3 .header b {font-family: Segoe_UI;font-weight: bold;color: #1495c5;font-size: 16px;}
.sd-wrapper.male .dlg .c3 .header .time {font-family: Segoe_UI;float: right; display: block; color: #1e86ac;font-weight: bold;font-size: 15px;}
.sd-wrapper.male .dlg .c3 .comments .no-comments {position: absolute;top: 17px; color: #1E86AC;}

.sd-wrapper.male .dlg textarea {width: 308px; height: 51px;border: 1px solid #7ab5dd;resize: none;color: #5E8AA5; padding: 10px;margin-top: 8px;}
.sd-wrapper.male .dlg .dlg-btn {width: 100%;height: 37px;}
.sd-wrapper.male .dlg .male-pntik-left {height: 40px;width: 14px;left: -14px;background: url(/img/game/male-pntik-left.png) no-repeat;position: absolute; top: 56px;}
.sd-wrapper.male .dlg .male-pntik-right {height: 40px;width: 14px;right: -14px;background: url(/img/game/male-pntik-right.png) no-repeat;position: absolute; top: 56px;}

.sd-wrapper.female .dlg .c1 .header {}
.sd-wrapper.female .dlg .c1 .header b {font-family: Segoe_UI;font-weight: bold;color: #7c4759;font-size: 16px;}
.sd-wrapper.female .dlg .c1 .header .time {font-family: Segoe_UI;float: right; display: block; color: #b46777;font-weight: bold;font-size: 15px;}
.sd-wrapper.female .dlg .c1 .question {font-family: Segoe_UI; color: #7c4759;margin-top: 16px;}

.sd-wrapper.female .dlg .c2 .header {}
.sd-wrapper.female .dlg .c2 .header b {font-family: Segoe_UI;font-weight: bold;color: #7c4759;font-size: 12px;}
.sd-wrapper.female .dlg .c2 .header .time {font-family: Segoe_UI;float: right; display: block; color: #d57a99;font-weight: bold;font-size: 14px;}
.sd-wrapper.female .dlg .c2 .item .q {color: #7c4759; font-family: "SegoeUI SemiBold"; font-size: 14px; font-style: italic; margin: 0 0 7px 0;width: 100%}
.sd-wrapper.female .dlg .c2 .item .q .question-label {padding: 0 7px 0 0;font-weight: bold}
.sd-wrapper.female .dlg .c2 .item .a {color: #7c4759; font-family: "SegoeUI SemiBold"; font-size: 14px;margin: 0 0 7px 0;width: 100%;}
.sd-wrapper.female .dlg .c2 .item .a .answer-label {padding: 0 7px 0 0; font-weight: bold}
.sd-wrapper.female .dlg .c2 .item .a .answer {font-family: Segoe_UI;}
.sd-wrapper.female .dlg .c2 .comment-label {color: #7c4759;font-family: "SegoeUI";font-size: 15px;font-weight: bold;clear: both;}
.sd-wrapper.female .dlg .c2 .jspDrag {background: #C97692;}
.sd-wrapper.female .dlg .c2 hr {border: 1px solid #E892AC;margin-bottom: 13px;}

.sd-wrapper.female .dlg .c3 {margin-left: 16px;}
.sd-wrapper.female .dlg .c3 .comment b {color: #7c4759;font-family: Segoe_UI;font-weight: bold;}
.sd-wrapper.female .dlg .c3 .comment div {color: #7c4759;font-family: Segoe_UI;margin: 10px 2px;}
.sd-wrapper.female .dlg .c3 .header {}
.sd-wrapper.female .dlg .c3 .header b {font-family: Segoe_UI;font-weight: bold;color: #7c4759;font-size: 16px;}
.sd-wrapper.female .dlg .c3 .header .time {font-family: Segoe_UI;float: right; display: block; color: #b46777;font-weight: bold;font-size: 15px;}
.sd-wrapper.female .dlg .c3 .comments .no-comments {position: absolute;top: 17px; color: #B46777;}

.sd-wrapper.female .dlg textarea {width: 308px; height: 51px;border: 1px solid #e892ac;resize: none;color: #5E8AA5;padding: 10px; margin-top: 8px;}
.sd-wrapper.female .dlg .dlg-btn {width: 100%;height: 37px;}
.sd-wrapper.female .dlg .female-pntik-left {height: 66px; width: 15px;left: -15px;background: url(/img/game/female-pntik-left.png) no-repeat;position: absolute;top: 58px;}
.sd-wrapper.female .dlg .female-pntik-right {height: 66px; width: 15px;right: -15px;background: url(/img/game/female-pntik-right.png) no-repeat;position: absolute;top: 58px;}

.gamePage {}

.gamePage .g-center {float: left;height: 565px;width: 428px;background-color: #A3D1EC;position: relative;}
.gamePage .g-center .help {color: #45617e; font-family: Segoe_UI; font-size: 12px;text-align: center;margin: 6px 0;}

.gamePage .g-center .participants.t {height: 159px;position: absolute;top: 106px;}
.gamePage .g-center .participants.r {height: 159px;}

.gamePage .g-center .participants.r .person-item {height: 159px; display: none;}

.gamePage .g-center .left .participants .person-item {float: right;}

.gamePage .g-center .participants .person-item {position: relative;float: left;cursor: pointer;margin-left: 12px;}
.gamePage .g-center .participants .person {height: 131px;background: url(/img/game/icons.png) -8px -8px no-repeat;width: 130px;position: relative;z-index: 100;}
.gamePage .g-center .participants .person-item img {position: absolute;left: 19px;z-index: 0;top: 40px;width: 73px;height: 73px;border-radius: 42px;}

.gamePage .g-center .participants .person.male {background-position: -136px -8px;}
.gamePage .g-center .participants .heart {background:url(/img/game/icons.png) -275px -85px; width: 45px; height: 45px;position: absolute;display: none;right: 0;}
.gamePage .g-center .participants .heart.active {display: block;}
.gamePage .g-center .participants .female-name {color: #ab4266; text-align: center;padding-right: 14px;}
.gamePage .g-center .participants .male-name {color: #5b8dc0; text-align: center;padding-right: 14px;}

.gamePage .g-center .left .participants .person-item img {position: absolute;left: 19px;z-index: 0;top: 40px;width: 73px;height: 73px;border-radius: 42px;}
.gamePage .g-center .right .participants .person-item img {position: absolute;left: 39px;z-index: 0;top: 40px;width: 73px;height: 73px;border-radius: 42px;}

.gamePage .g-center .left .participants .person.female {background-position: -8px -8px;}
.gamePage .g-center .left .participants .heart {background-position: -275px -85px;right: 0;}

.gamePage .g-center .right .participants .person.female {background-position: -188px -345px;}
.gamePage .g-center .right .participants .heart {background-position: -8px -424px;left: 0;}

.gamePage .g-center .left .participants .person.male {background-position: -136px -8px;}
.gamePage .g-center .left .participants .heart {background-position: -275px -85px;right: 0;}

.gamePage .g-center .right .participants .person.male {background-position: -60px -347px;}
.gamePage .g-center .right .participants .heart {background-position: -8px -424px;left: 0;}

.gamePage .g-center .chosen {width: 202px;}
.gamePage .g-center .chosen .points {margin-top: 66px;}
.gamePage .g-center .chosen.left .points {float: left;}
.gamePage .g-center .chosen.left .points .ico {margin-left: 2px;}
.gamePage .g-center .chosen.right .points {float: right;}
.gamePage .g-center .chosen.right .points .ico {margin-right: 2px;}

.gamePage .g-center .chosen .person-item {margin-left: 2px;}

.gamePage .side {width: 186px;background: url(/img/game/sideBg.png); height: 598px;position: relative}
.gamePage .side.g-left {float: left;}
.gamePage .side.g-left .right-border {background: url(/img/game/l-rightBg.png); width: 2px; height: 598px;position: absolute; right: 0;}
.gamePage .side.g-right {float: right;}
.gamePage .side.g-right .left-border {background: url(/img/game/r-leftBg.png); width: 2px; height: 598px;position: absolute; left: 0;}

.gamePage .side.g-right .users .ico {left: -13px;top: -10px;position: absolute;}
.gamePage .side.g-left .users .ico {right: -13px;top: -10px;position: absolute;}

.gamePage .side .users {padding-top: 20px;}
.gamePage .side .users .female-item {width: 150px;height: 158px;background: url(/img/game/femaleBg.png); border-radius: 4px;position: relative;margin: 0 0 28px 16px;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);border: 1px solid rgba(255, 255, 255, 0.22);border-bottom: 1px solid rgba(178, 102, 118, 0.25);}
.gamePage .side .users .female-item .ico-wait {background-position: -422px -71px;width: 30px;height: 30px;}
.gamePage .side .users .female-item .ico-ok {background-position: -458px -71px;width: 29px;height: 30px;}
.gamePage .side .users .female-item span {font-family: Segoe_UI;color: #7C4759;font-weight: 700;font-size: 11px;text-align: center;display: block;margin-top: 10px;width: 100%;}
.gamePage .side .users .female-item .female-avatar {width: 100px; height: 100px; border-radius: 6px;margin: 18px auto 0;}
.gamePage .side .users .female-item .female-avatar img {width: 100%; height: 100%; border-radius: 3px;}

.gamePage .side .users {padding-top: 20px;}
.gamePage .side .users .male-item {width: 150px;height: 158px;background: url(/img/game/maleBg.png); border-radius: 4px;position: relative;margin: 0 0 28px 20px;box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);border: 1px solid rgba(255, 255, 255, 0.22);border-bottom: 1px solid rgba(178, 102, 118, 0.25);}
.gamePage .side .users .male-item .ico-wait {background-position: -422px -105px;width: 30px;height: 30px;}
.gamePage .side .users .male-item .ico-ok {background-position: -458px -105px;width: 29px;height: 30px;}
.gamePage .side .users .male-item span {font-family: Segoe_UI;color: #1495c5;font-weight: 700;font-size: 11px;text-align: center;display: block;margin-top: 10px;width: 100%;}
.gamePage .side .users .male-item .male-avatar {width: 100px; height: 100px; border-radius: 6px;margin: 18px auto 0;}
.gamePage .side .users .male-item .male-avatar img {width: 100%; height: 100%; border-radius: 3px;}

.newGame {width: 153px; height: 153px; display: block; background: url(/img/newGame.png);position: absolute;left: 147px;  top: 213px;}

.newGame.male {background-position: -44px -11px;}
.newGame.male:hover {background-position: -209px -12px;}
.newGame.male:active {background-position: -372px -12px;}

.newGame.female {background-position: -44px -186px;}
.newGame.female:hover {background-position: -209px -184px;}
.newGame.female:active {background-position: -372px -182px;}

#bingo {padding: 2px;}
#bingo .bg {background: url(/img/game/bingoBg.png); height: 296px;}
#bingo .bg .person {width: 155px;height: 226px;position: absolute;border-radius: 5px;overflow: hidden;}

#bingo .bg .bingo-heart-left  {background: url(/img/game/icons.png);width: 67px;height: 60px;position: absolute;background-position: -2px -277px;left: 152px;top: 159px;z-index: 1000;}
#bingo .bg .bingo-heart-right {background: url(/img/game/icons.png);width: 67px;height: 60px;position: absolute;background-position: -77px -277px;left: 220px;top: 158px;z-index: 1000;}

#bingo .bg .person.male-avatar {background: url(/img/game/bingoMaleBg.png)}
#bingo .bg .person.male-avatar .left {background: url(/img/game/bingoMaleLeftBg.png);height: 225px;position: absolute;width: 1px;left: 0;}
#bingo .bg .person.male-avatar .right {background: url(/img/game/bingoMaleRightBg.png);height: 225px;position: absolute;width: 1px;right: 0;}
#bingo .bg .person.male-avatar .top {background: url(/img/game/bingoMaleTopBg.png);height: 1px;position: absolute;width: 164px;top: 0;}
#bingo .bg .person.male-avatar .male-avatar {width: 100px; height: 100px; margin: 21px auto 0;border-radius: 3px;border-width: 5px;}
#bingo .bg .person.male-avatar .male-avatar {margin-bottom: 18px;}
#bingo .bg .person.male-avatar .bingo-btn {width: 138px;height: 24px;display: block;font: normal 14px/14px Segoe_UI;margin: 0;padding: 13px 8px 1px;background: url(/img/game/icons.png) -2px -150px;color: #FFF;text-shadow: 1px 1px rgba(0, 0, 0, 0.15);text-decoration: none;}
#bingo .bg .person.first .bingo-btn:not(.dsbl):hover {background-position: -2px -193px;}
#bingo .bg .person.first .bingo-btn:not(.dsbl):active {background-position: -2px -235px;}

#bingo .bg .person.female-avatar {background: url(/img/game/bingoFemaleBg.png)}
#bingo .bg .person.female-avatar .left {background: url(/img/game/bingoFemaleLeftBg.png);height: 225px;position: absolute;width: 1px;left: 0;}
#bingo .bg .person.female-avatar .right {background: url(/img/game/bingoFemaleRightBg.png);height: 225px;position: absolute;width: 1px;right: 0;}
#bingo .bg .person.female-avatar .top {background: url(/img/game/bingoFemaleTopBg.png);height: 1px;position: absolute;width: 164px;top: 0;}
#bingo .bg .person.female-avatar .female-avatar {width: 100px; height: 100px; margin: 21px auto 0;border-radius: 3px;border-width: 5px;}
#bingo .bg .person.female-avatar .female-avatar {margin-bottom: 18px;}
#bingo .bg .person.female-avatar .bingo-btn {width: 135px;height: 24px;display: block;font: normal 14px/14px Segoe_UI;margin: 0;padding: 13px 11px 1px;background: url(/img/game/icons.png) -164px -150px;color: #FFF;text-shadow: 1px 1px rgba(0, 0, 0, 0.15);text-decoration: none;}
#bingo .bg .person.female-avatar .bingo-btn:not(.dsbl):hover {background-position: -164px -193px;}
#bingo .bg .person.female-avatar .bingo-btn:not(.dsbl):active {background-position: -164px -235px;}

#bingo .bg .person.first .bingo-btn.dsbl {opacity: 0.45;}
#bingo .bg .person.first {top: 84px;left: 38px;}
#bingo .bg .person.second {top: 84px;left: 239px;}

#guests .list {overflow: hidden; height: 275px;}
#guests .no-guest {text-align: center;margin-top: 109px;}
.guest {width: 100%;height: 48px;background: url(/img/profile/viewBg.png);clear: both;position: relative;}
.guest .male-avatar {width: 35px;height: 35px;border-width: 2px;margin: 5px 5px;display: block;border-radius: 3px;float: left;}
.guest .female-avatar {width: 35px;height: 35px;border-width: 2px;margin: 5px 5px;display: block;border-radius: 3px;float: left;}
.guest .male-avatar img, .guest .female-avatar img {width: 100%; height: 100%;}
.guest .c {float: left;width: 250px;margin: 6px 0;}
.guest .c span {display: block;}
.guest .c .name {color: #587ba1;font-family: Segoe_UI;font-size: 14px;}
.guest .c .label {color: #45617e; font-family: Segoe_UI;font-size: 11px;margin-top: 3px;}
.guest time {position: absolute;right: 10px;top: 8px;color: #587BA1;font-family: Segoe_UI;font-size: 12px;}

a.modal-dlg-left-header {width: 64px;height: 60px;background-position: -432px -366px;position: absolute;left: -47px;top: -60px;}
a.modal-dlg-right-header {width: 64px;height: 60px; background-position: -362px -366px;position: absolute;right: -47px;top: -60px;}
img.me-avatar {width: 89px;height: 89px;position: absolute;top: -54px;left: 263px;}

#purse > div.header {float: left;width: 549px;padding: 60px 25px 32px;}
#purse .wallet-info {margin-left: 20px;margin-top: 17px; float: left}
#purse .tariffs {float: left;width: 572px;margin: 0 24px;}
#purse .left-side {float: left;width: 50%;position: relative;}
#purse .right-side {float: right;width: 50%;position: relative;}
#purse .ico {text-align: center; margin-top: -2px;}
#purse .ico-tariff p {color: #FFF;font-family: Segoe_UI;font-weight: bold;font-size: 20px;padding-top: 7px;}
#purse table tr td:first-child {text-align: center; width: 74px;}
#purse table tr td:first-child .ico {float: none; margin: 0 auto;}
#purse .ico-purse-heart {text-indent: 15px;position: absolute;left: 14px;top: 46px;}
#purse .row {margin-bottom: 44px;float: left;width: 570px;}
#purse .akcia {position: absolute;height: 50px;width: 652px;background: url(/img/akcia-purse.png);top: 483px;left: -15px; border-radius: 4px;}
#purse .akcia .ico-akcia-tariff {margin: 7px 0 0 31px; color: #dd5934;}
#purse .akcia .ico-akcia-tariff a {font-family: Segoe_UI;color: #DD5934;text-decoration: none;font-weight: bold;font-size: 20px;margin-top: 8px;display: block;}
#purse .akcia .label {color: #FFF;font-family: Segoe_UI;font-size: 18px;float: left;margin: 16px 0 0 6px;}
#purse .ico-akcia-arrow {margin: 12px 0 0 5px;}
#purse button.sd-btn {bottom: -32px;}
#purse .earn-money {width: 100%; text-align: center;position: absolute;top: 543px;}
#purse .earn-money a {font-family: Segoe_UI; font-size: 15px;}

#purse,male .earn-money {color: #2d5577;}
#purse.male .purse-bonus {position: absolute;left: 58px;top: 44px;color: #2D5577;}
#purse.male .purse-bonus span {margin: 2px 0 0 20px;display: block;width: 107px;}
#purse.male .ico-purse-heart {color: #2D5577;}
#purse.male .cost {background: url(/img/purse-male-btn-bg.png) repeat-x;width: 208px;height: 37px;display: block;float: left;margin: -2px 0 0 4px;text-decoration: none;border-radius: 4px;}
#purse.male .cost a {margin: 11px 20px;display: block;text-decoration: none;}
#purse.male .wallet-info label {font-family: Segue_UI;color: #2D5577;font-size: 18px;}
#purse.male .wallet-info .value {font-family: "SegoeUI SemiBold";color: #2D5577;font-size: 18px; font-weight: bold; margin-top: 5px;}

#purse.female .earn-money {color: #875162;}
#purse.female .purse-bonus {position: absolute;left: 58px;top: 44px;color: #cf8798;}
#purse.female .purse-bonus span {margin: 2px 0 0 20px;display: block;width: 107px;}
#purse.female .ico-purse-heart {color: #cf8798;}
#purse.female .cost {background: url(/img/purse-female-btn-bg.png) repeat-x;width: 208px;height: 37px;display: block;float: left;margin: -2px 0 0 4px;text-decoration: none;border-radius: 4px; color:#875162}
#purse.female .cost a {margin: 11px 20px;display: block;text-decoration: none;}
#purse.female .wallet-info label {font-family: Segue_UI;color: #875162;font-size: 18px;}
#purse.female .wallet-info .value {font-family: "SegoeUI SemiBold";color: #875162;font-size: 18px; font-weight: bold; margin-top: 5px;}

#vip b.label {width: 100%;display: block;text-align: center; font-family: Segoe_UI; font-weight: bold; margin-top: 58px;}
#vip .buy-button {display: block; margin-top: 10px; float: left; margin-left: 5px;}
#vip .items {margin: 36px 71px 0 33px;font-size: 15px;}
#vip .items .item {margin-bottom: 20px;}
#vip .items .item table {width: 100%;}
#vip .items .item table tr td:last-child {vertical-align: middle;padding-left: 31px;}
#vip .items .item table tr td:first-child {width: 68px;}
#vip .vip-ico {margin: 0 auto;}
#vip button.sd-btn {bottom: -32px;}

.male *  {color: #2d5577;}
.female * {color: #875162;}

.male #vip b {font-weight: bold;}
.female #vip b {font-weight: bold;}

.vip-buy-button {width: 333px;height: 26px;display: block;margin: 0 auto;text-align: center;text-decoration: none;padding-top: 10px;margin-bottom: 10px;}

.male .vip-buy-button {background: url(/img/vip-buttons/male-btn.png) repeat-x;}
.male .vip-buy-button:hover {background: url(/img/vip-buttons/male-btn-hover.png) repeat-x;}
.male .vip-buy-button:active {background: url(/img/vip-buttons/male-btn-active.png) repeat-x;}

.female .vip-buy-button {background: url(/img/vip-buttons/female-btn.png) repeat-x;}
.female .vip-buy-button:hover {background: url(/img/vip-buttons/female-btn-hover.png) repeat-x;}
.female .vip-buy-button:active {background: url(/img/vip-buttons/female-btn-active.png) repeat-x;}

#attachImage .photo-buttons {padding-top: 102px; text-align: center;}
#attachImage .photo-buttons .vip-buy-button {margin-bottom: 2px;}
#attachImage .photo-buttons label {margin-bottom: 22px;display: block;}

#msg-image {max-width: 180px; max-height: 35px; float: left;margin: 4px; position: relative;}
#msg-image img {width: auto; height: auto;min-height: 28px; max-width: 100%; max-height: 100%;}
#msg-image .ico-close {position: absolute; top: 0; right: 0;}
#msg-image .img-container {width: auto;height: 28px;border: 2px solid #73B1D5; border-radius: 4px;position: relative}

#captureCanvasContainer {display: none;}
#captureCanvasContainer .buttons {position: absolute; bottom: 18px;}
#capturedImage {top: 38px; left: 30px;}
#videoCanvasContainer {padding: 42px; left: -70px; position: absolute;}

#captureContainer .loading {height: 14px; width: 50px; position: absolute; top: 421px; z-index: 100; left: 282px;}
.male #captureContainer .loading {background: url(/img/loading4.gif) -20px 0px;}
.female #captureContainer .loading {background: url(/img/loading7.gif) -20px 0px;}

#takePhoto img.no-camera {width: 240px;position: absolute;left: 222px;top: 97px;}
#takePhoto .no-cam-label {position: absolute;top: 298px;width: 100%;text-align: center;}
#takePhoto .ico-cam {position: absolute;right: 194px;bottom: 7px;z-index: 100;}

#msgGraphic img {margin: 0 auto; display: block;}

#vipCapabilities .row
#vipCapabilities a.save {position: absolute;bottom: 12px;margin: 0 auto;width: 100%;left: 0;text-align: center;}
#vipCapabilities .colors {margin-top: 19px;}
#vipCapabilities .row {padding-top: 33px;height: 58px;width: 204px;margin: 0 auto;text-align: center;color: #2D5577;}
#vipCapabilities .row:first-child {padding-top: 68px;}
#vipCapabilities .ico-mode-turn-on, #vipCapabilities .ico-mode-turn-off {float: none; margin: 13px auto;}
#vipCapabilities b {font-weight: bold;}
#vipCapabilities .preview {position: absolute;bottom: -164px;left: 152px;}
#vipCapabilities .preview .avatar {position: relative;}
#vipCapabilities .preview span.tapeToolTip{position: absolute;left: 200px;top: 60px;width: 0px;background: rgba(0, 0, 0, 0);color: rgba(0, 0, 0, 0); border: 0;}

#donateMoney .count {font-size: 28px;width: 115px;margin: 21px auto;display: block;}
#donateMoney .info-bar {float: left; padding: 22px 21px;}
#donateMoney .info-bar span {display: block;margin: 19px 0 0 82px;}
.female #donateMoney input.count {width: 126px;height: 48px;float: left;margin-left: 1px;background: url(/img/profile.png) -159px -147px;border: none;padding: 0 11px;position: absolute;left: 29%;top: 40%;color: #875162; text-align: center;}
.male #donateMoney input.count {width: 126px;height: 48px;float: left;margin-left: 1px;background: url(/img/profile.png) -159px -147px;border: none;padding: 0 11px;position: absolute;left: 29%;top: 40%;color: #45617e; text-align: center;}

.clr {border-radius: 999px;width: 32px; height: 32px;float: left; margin-left: 5px; cursor: pointer;}
.male .clr.selected {border: 2px solid #2d5475;margin-top: -2px;}
.female .clr.selected {border: 2px solid #8b3f4f;margin-top: -2px;}

:hover > .male-bcolor {border-color: #21A4D5;}
:hover > .female-bcolor {border-color: #FF92A9;}

.male .clr1 {background: #1495c5;}
.male .clr2 {background: #00ffb7;}
.male .clr3 {background: #ff4f3a;}
.male .clr4 {background: #00b8ff;}
.male .clr5 {background: #002d41;}

.male-avatar.clr-b-1 .male-vip.vip {background: url(/img/vips.png) 0px -0px;}
.male-avatar.clr-b-2 .male-vip.vip {background: url(/img/vips.png) 0px -34px;}
.male-avatar.clr-b-3 .male-vip.vip {background: url(/img/vips.png) 0px -71px;}
.male-avatar.clr-b-4 .male-vip.vip {background: url(/img/vips.png) 0px -108px;}
.male-avatar.clr-b-5 .male-vip.vip {background: url(/img/vips.png) 0px -147px;}

.male-avatar.clr-b-1 {border: 3px solid #21a4d5;}
.male-avatar.clr-b-2 {border: 3px solid #00ffb7;}
.male-avatar.clr-b-3 {border: 3px solid #ff4f3a;}
.male-avatar.clr-b-4 {border: 3px solid #00b8ff;}
.male-avatar.clr-b-5 {border: 3px solid #002d41;}

:hover > .male.clr-b-1-color {border-color: #21a4d5;}
:hover > .male.clr-b-2-color {border-color: #00ffb7;}
:hover > .male.clr-b-3-color {border-color: #ff4f3a;}
:hover > .male.clr-b-4-color {border-color: #00b8ff;}
:hover > .male.clr-b-5-color {border-color: #002d41;}

:hover > .female.clr-b-1-color {border-color: #ff92a9;}
:hover > .female.clr-b-2-color {border-color: #ff1546;}
:hover > .female.clr-b-3-color {border-color: #e400ff;}
:hover > .female.clr-b-4-color {border-color: #00ff2a;}
:hover > .female.clr-b-5-color {border-color: #e2ff29;}

.ui-tooltip .ui-tooltip-content {background-color: rgba(0,0,0,0.4);}
.ui-tooltip.tVip.male .ui-tooltip-arrow {height: 13px; width: 30px;background: url(../img/vips.png);}
.ui-tooltip.tVip.female .ui-tooltip-arrow {height: 13px; width: 30px;background: url(../img/vips.png);}

.ui-tooltip  .ui-tooltip-arrow {z-index: 0;}
.ui-tooltip  .ui-tooltip-arrow {z-index: 0;}

.ui-tooltip.male.clr-b-1 .ui-tooltip-content {background-color: rgba(33,164,213,0.4); border: 1px solid rgba(33,164,213,0.2); color: #fff;}
.ui-tooltip.male.clr-b-1 .ui-tooltip-arrow {background-position: -89px -83px;}
.ui-tooltip.male.clr-b-2 .ui-tooltip-content {background-color: rgba(0,255,183,0.4); border: 1px solid rgba(0,255,183,0.2); color: #fff;}
.ui-tooltip.male.clr-b-2 .ui-tooltip-arrow {background-position: -89px -64px;}
.ui-tooltip.male.clr-b-3 .ui-tooltip-content {background-color: rgba(255,79,58, 0.4); border: 1px solid rgba(255,79,58, 0.2); color: #fff;}
.ui-tooltip.male.clr-b-3 .ui-tooltip-arrow {background-position: -90px -43px;}
.ui-tooltip.male.clr-b-4 .ui-tooltip-content {background-color: rgba(0,184,255,0.4); border: 1px solid rgba(0,184,255,0.2); color: #fff;}
.ui-tooltip.male.clr-b-4 .ui-tooltip-arrow {background-position: -89px -24px;}
.ui-tooltip.male.clr-b-5 .ui-tooltip-content {background-color: rgba(0,45,65,0.4); border: 1px solid rgba(0,45,65,0.2); color: #fff;}
.ui-tooltip.male.clr-b-5 .ui-tooltip-arrow { background-position: -89px -4px;}

.female .clr1 {background: #ff92a9;}
.female .clr2 {background: #ff1546;}
.female .clr3 {background: #e400ff;}
.female .clr4 {background: #00ff2a;}
.female .clr5 {background: #e2ff29;}

.female-avatar.clr-b-1 {border: 3px solid #ff92a9;}
.female-avatar.clr-b-2 {border: 3px solid #ff1546;}
.female-avatar.clr-b-3 {border: 3px solid #e400ff;}
.female-avatar.clr-b-4 {border: 3px solid #00ff2a;}
.female-avatar.clr-b-5 {border: 3px solid #e2ff29;}


.female-avatar.clr-b-1 .female-vip.vip {background: url(/img/vips.png) -48px -0px;}
.female-avatar.clr-b-2 .female-vip.vip {background: url(/img/vips.png) -48px -34px;}
.female-avatar.clr-b-3 .female-vip.vip {background: url(/img/vips.png) -48px -71px;}
.female-avatar.clr-b-4 .female-vip.vip {background: url(/img/vips.png) -48px -108px;}
.female-avatar.clr-b-5 .female-vip.vip {background: url(/img/vips.png) -48px -146px;}

.ui-tooltip.female.clr-b-1 .ui-tooltip-content {background-color: rgba(255,122,150,0.7); border: 1px solid rgba(255,122,150,0.9); color: #fff;}
.ui-tooltip.female.clr-b-1 .ui-tooltip-arrow {background-position: -88px -169px;}
.ui-tooltip.female.clr-b-2 .ui-tooltip-content {background-color: rgba(255,21,70,0.7); border: 1px solid rgba(255,21,70,0.9); color: #fff;}
.ui-tooltip.female.clr-b-2 .ui-tooltip-arrow {background-position: -88px -152px;}
.ui-tooltip.female.clr-b-3 .ui-tooltip-content {background-color: rgba(228,0,255, 0.7); border: 1px solid rgba(228,0,255, 0.9); color: #fff;}
.ui-tooltip.female.clr-b-3 .ui-tooltip-arrow {background-position: -88px -135px;}
.ui-tooltip.female.clr-b-4 .ui-tooltip-content {background-color: rgba(0,255,42,0.7); border: 1px solid rgba(0,255,42,0.9); color: #0d5f26;}
.ui-tooltip.female.clr-b-4 .ui-tooltip-arrow {background-position: -89px -116px;}
.ui-tooltip.female.clr-b-5 .ui-tooltip-content {background-color: rgba(226,255,41,0.7); border: 1px solid rgba(177,213,40,0.9); color: #0d5f26;}
.ui-tooltip.female.clr-b-5 .ui-tooltip-arrow { background-position: -89px -99px;}

#continuously_visit .days {width: 210px;margin: 15px auto 0;height: 45px;}
#continuously_visit .days .day {float: left;padding: 10px 13px;background: #CCC;margin: 4px;border-radius: 50px;}
#continuously_visit .days .day.active {background: #ECBBBB;}
#continuously_visit .days .day:last-child {padding: 13px 12px;margin-top: 0px;}
#continuously_visit .g {padding: 62px 20px 0; text-align: center}
#continuously_visit .g p.second {margin-top: 15px;}
#continuously_visit .ico-day {margin: 0 2px;color: #FFF;font-size: 19px;font-family: Segoe_UI; padding-top: 5px;}
#continuously_visit .ico-day.selected {margin-top: -5px;padding-top: 11px; height: 37px;}

.male #continuously_visit {color: #2d5577;}
.female #continuously_visit {color: #875162;}

#share-with-friends b {font-weight: bold}
#share-with-friends .share-menu {padding: 25px 24px 0;}
#share-with-friends .row {float: left; width: 100%;margin-top: 25px; cursor: pointer;}
#share-with-friends .row .label {float: left; margin-left: 18px;}
#share-with-friends .row .label-m1 {margin-top: 32px;}
#share-with-friends .row .label-m2 {margin-top: 14px;}
#share-with-friends .row .label-m3 {margin-top: 21px;}

#share-with-friends .row.second {padding-bottom: 10px;padding-top: 9px;}
#share-with-friends .row.first {padding: 5px 0;}

#share-with-friends .ico-share-2 {margin-left: 9px; margin-right: 14px;}
#share-with-friends .ico-share-3 {margin-left: 7px; margin-right: 11px;}

#share-with-friends .loading {position: static;height: 20px;float: right;width: 59px;margin-top: 29px;margin-right: 6px;}
.male #share-with-friends .loading {background: url(/img/loading4.gif) -20px 0px;}
.female #share-with-friends .loading {background: url(/img/loading7.gif) -20px 0px;}

#attachImage .loading {position: absolute;height: 20px;float: right;width: 59px;top: 69px;left: 175px;}
.male #attachImage .loading {background: url(/img/loading4.gif) -20px 0px;}
.female #attachImage .loading {background: url(/img/loading7.gif) -20px 0px;}

.male #share-with-friends {color: #2d5577;}
.male #share-with-friends .row:hover {box-shadow: 0 0 2px 1px #2D5577;}

.female #share-with-friends {color: #875162;}
.female #share-with-friends .row:hover {box-shadow: 0 0 2px 1px #875162;}

#friends-list {padding: 60px 13px 0px 5px;}
#friends-list .search {border-bottom: 1px solid #ccc;padding-bottom: 9px;}
#friends-list .search input[type="text"] {padding: 5px 5px;border: 1px solid #CCC;width: 485px;margin: 0 0 0 26px;}
#friends-list .friends {overflow: hidden;height: 266px; margin-top: 14px;width: 522px;text-align: center;}
#friends-list .friends .f {float: left;width: 497px;margin-left: 20px;margin-top: -10px;}
#friends-list .friend {float: left;width: 83px;height: 80px;margin: 11px 5px; cursor: pointer;}
#friends-list .friend .name {font-size: 10px;display: block;font-weight: bold;}
#friends-list .friend img{width: 83px;height: 80px;}
#friends-list .l4 {margin-top: 10px;}

.male #friends-list .friends .jspDrag {background: #429BBD;}
.female #friends-list .friends .jspDrag {background: #c37e8f;}

#complete-dlg .form-row {text-align: center;}
#complete-dlg b {width: 100%;text-align: left;margin: 0 0 -6px;display: block;font-weight: bold;font-size: 15px;}
#complete-dlg b span {font-size: 12px; font-weight: normal;}
#complete-dlg input[type="text"] {width: 96%;border: 1px solid #CCC;padding: 5px;}

#msg-report {text-align: center;}
#msg-report .attention {color: #FF0000; font-size: 11px;}

#message {-webkit-touch-callout:text;-webkit-user-select:text;-khtml-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}

.cap {background: url(/img/html5Support/bg.png);}
.cap .sd-btn {text-align: center; text-decoration: none;padding-top: 10px;bottom: -11px;}
.cap .ico-no-html-heart-left {display: block;position: absolute;left: -84px;top: -99px;}
.cap .ico-no-html-heart-right {display: block;position: absolute;right: -86px;top: -99px;}
.cap p.text {color: #875162; font-family: Segoe_UI; font-size: 15px;padding: 26px 32px;}

#operations {height: 28px;width: 177px;margin: 3px 0 0 7px;}
#operations .item:not(.dsbl):hover {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}

#cityChangeAttention {position: absolute;width: 380px;bottom: 276px;left: 189px;cursor: pointer;}
#cityChangeAttention p {height: 38px;}

.random-user {position: absolute;width: 307px;height: 162px;background: url(/img/random-user-background.png);right: 6px;top: 350px;}
.random-user img {height: 85px; width: 85px;}
.random-user label {display: block;}
.random-user .select {float: right;width: 159px;}
.random-user .select-items {top: 20px;position: absolute;right: 11px;}
.random-user .select-items img {margin: 15px 0 10px 8px;}
.random-user .choose {width: 176px; cursor: pointer;}
.random-user .chose-type {height: 28px; font-family: Segoe_UI;  font-size: 12px; margin-bottom: 2px;}
.random-user .rIcon {display: block; background: url(/img/randomUser/icons.png); width: 22px; height: 20px;float: left;margin: 5px 0 0 7px;}
.random-user .rTitle {display: block;float: left; margin: 7px 5px 5px;}
.random-user .l4 {position: absolute;left: 45px; top: 66px;}
.random-user .info-bar {font-family: Segoe_UI;font-size: 12px;position: absolute;bottom: 15px;left: 15px; width: 99px}
.random-user .r-user-avatar {top: 25px;left: 19px; width: 85px; height: 85px;position: absolute;}

.random-user.male .chose-type {color: #2d5577; width: 100%; background: url(/img/randomUser/btn-male-bg.png)}
.random-user.male .info-bar {color: #477087; text-align: center;}
.random-user.male .chosen-type-1 .rIcon {background-position: 0 -19px;height: 16px;}
.random-user.male .chosen-type-2 .rIcon {background-position: -24px -19px;height: 15px;}
.random-user.male .chosen-type-3 .rIcon {background-position: -45px -19px;;height: 17px;}
.random-user.male .chosen-type-none .rIcon {background-position: -63px -19px;height: 16px;width: 21px;}

.random-user.female .chose-type {color: #7c4759;width: 100%; background: url(/img/randomUser/btn-female-bg.png)}
.random-user.female .info-bar {color: #477087; text-align: center;}
.random-user.female .chosen-type-1 .rIcon {background-position: 0 1px;height: 16px;}
.random-user.female .chosen-type-2 .rIcon {background-position: -24px 1px;height: 15px;}
.random-user.female .chosen-type-3 .rIcon {background-position: -45px 1px;;height: 17px;}
.random-user.female .chosen-type-none .rIcon {background-position: -63px 1px;height: 16px;width: 21px;}

.profile-icons {width: 100%;}
.profile-icons .label{color: #ffffff;}
.profile-icons tr td {width: 33%; text-align: center;}
.send-vip {background: url(/img/profile-icons.png) -5px -10px;display: block;width: 74px;height: 21px;margin: 0 auto 6px;display: block;text-align: center;}
.send-money {background: url(/img/profile-icons.png) -20px -72px;display: block;width: 39px;height: 46px;text-align: center; margin: 0 auto;}
.vk-profile {background: url(/img/profile-icons.png) -20px -43px;display: block;width: 39px;height: 29px;text-align: center; margin: 0 auto;margin-bottom: 3px;}
.ico-item {float: left;height: 67px; text-align: center;}
.ico-item .div {color: #ffffff;}

.sep {width: 2px;height: 30px;/* border: 1px solid #CCC; */margin: 2px 5px 0 0;box-shadow: inset 14px 15px 8px #94C4E2;}

.cud {background: url(/img/completeUserData/bg.png)}