/*General Mosaic Styles*/
.mosaic-block {
    width: 171px;
    height: auto;
    margin: 10px 9px 11px;
    position: relative;
    overflow: hidden;
}

.mosaic-backdrop {
    display: none;
    width: 100%;
    background: #111;
}

.mosaic-overlay {
    z-index: 5;
    position: absolute;
    width: 164px;
    margin-left: 3px;
}

/*** Custom Animation Styles (You can remove/add any styles below) ***/
.circle .mosaic-overlay {
    background: url(../img/hover-magnify.png) no-repeat center center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter: alpha(opacity=00);
    display: none;
}

.fade .mosaic-overlay {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter: alpha(opacity=00);
    background: url(../img/bg-black.png);
}

.bar .mosaic-overlay {
    bottom: -72px;
    height: 69px;
    background: rgba(0, 0, 0, 0.55);
    color: #FFF;
    position: absolute;
    font-size: 12px;
    text-align: center;
    font-family: Segoe_UI;
}

.bar .mosaic-overlay .details {
    font-size: 12px;
    margin-top: 13px;
}

.bar .mosaic-overlay .details .ico {
    position: absolute;
    left: 12px;
    top: 11px;
}

.bar .mosaic-overlay .details a {
    color: #FFF;
    display: block;
    margin: 0 0 12px 0;
    text-decoration: none;
    font-size: 14px;
}

.bar .mosaic-overlay .details a:hover {
    text-decoration: underline;
}

.bar2 .mosaic-overlay {
    bottom: -50px;
    height: 100px;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.bar2 .mosaic-overlay:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.bar3 .mosaic-overlay {
    top: -100px;
    height: 100px;
    background: url(../img/bg-black.png);
}

/*** End Animation Styles ***/
