@import "reset.css";

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #cfe7f5;
    width: 800px;
    height: 705px;
}

.ico {
    display: block;
    float: left;
    background: url(../img/icons.png);
}
.ico-close{
    cursor: pointer;
    width: 20px;
    height: 19px;
    background-position: -234px -37px;
}
.ico-close:hover{
    background-position: -234px -61px;
}
.ico-close:active{
    background-position: -234px -90px;
}
.ico-rating {
    width: 17px;
    height: 18px;
    background-position: -223px 0;
    margin-left: 2px;
}
.ico-money {
    width: 22px;
    height: 18px;
    background-position: -242px 0;
}
.ico-male-male {
    width: 27px;
    height: 36px;
    background-position: -112px -190px;
}
.ico-female-male {
    width: 47px;
    height: 36px;
    background-position: -63px -190px;
}
.ico-male-female {
    width: 27px;
    height: 36px;
    background-position: -188px -190px;
}
.ico-female-female {
    width: 47px;
    height: 36px;
    background-position: -138px -190px;
}
.ico-share {
    width: 70px;
    height: 35px;
    background-position: -2px 247px;
}
.ico-share:hover{
    width: 70px;
    height: 35px;
    background-position: -2px 213px;
}
.ico-share:active{
    width: 70px;
    height: 35px;
    background-position: -2px 179px;
}
.ico-faq {
    width: 42px;
    height: 35px;
    background-position: -96px 247px;
}
.ico-faq:hover{
    background-position: -96px 213px;
}
.ico-faq:active{
    background-position: -96px 178px;
}
.ico-privacy {
    width: 66px;
    height: 35px;
    background-position: -155px 247px;
}
.ico-privacy:hover{
    background-position: -155px 214px;
}
.ico-privacy:active{
    background-position: -155px 180px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 17px;
    width: 29px;
    height: 18px;
    padding-top: 10px;
}

/*--- header ---*/
header {
    background-color: #E2F4FF;
    height: 97px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #000;
}

header ul.menu {
    float: left;
}

header ul.menu li {
    float: left;
    width: 183px;
    font-family: ralev001;
    font-weight: normal;
    height: 97px;
    cursor: pointer;
}
header ul.menu li:hover {
    box-shadow: 0 0;
}
header ul.menu li .content  {
    float: left;
}
header ul.menu li.heart {
    background: fixed #f69e9e url(../img/header/backgrounds/normal/heart.png) 0 0 repeat-x;
    color: #aa3b3b;
    font-size: 29px;
}
header ul.menu li.heart .content {
    padding: 16px 0 0 17px;
}
header ul.menu li.heart .content span {
    float: left;
    margin: 19px 0 0 20px;
}
header ul.menu li.heart:hover {
    background: fixed #f69e9e url(../img/header/backgrounds/hover/heart.png) 0 0 repeat-x;
}
header ul.menu li.heart.active {
    background: fixed #f69e9e url(../img/header/backgrounds/passed/heart.png) 0 0 repeat-x;
}
header ul.menu li.heart div.heart-ico {
    width: 65px;
    height: 61px;
    background: url(../img/icons.png) 0 0 no-repeat;
    float: left;
}
header ul.menu li.heart:hover div.heart-ico{
    background: url(../img/icons.png) 0 -64px no-repeat;
}
header ul.menu li.heart.active div.heart-ico{
    background: url(../img/icons.png) 0 -128px no-repeat;
}
header ul.menu li.heart.active .content span {
    font-weight: bold;
}

/*   Message tab   */
header ul.menu li.message {
    background: fixed #ffdb8d url(../img/header/backgrounds/normal/message.png) 0 0 repeat-x;
    color: #e26e06;
    margin: 0 1px;
    font-size: 16px;
    width: 193px;
}
header ul.menu li.message .badge {
    position: absolute;
    margin: 30px 0 0 -27px;
    background-color: #FFF;
    border: 3px solid #FDC260;
    color: #F81C25;
}
header ul.menu li.message .content {
    padding: 14px 0 0 12px;
}
header ul.menu li.message .content span {
    float: left;
    margin: 28px 0 0 15px;
}
header ul.menu li.message:hover {
    background: fixed #ffdb8d url(../img/header/backgrounds/hover/message.png) 0 0 repeat-x;
}
header ul.menu li.message.active {
    background: fixed #f69e9e url(../img/header/backgrounds/passed/message.png) 0 0 repeat-x;
}
header ul.menu li.message div.msg-ico {
    width: 74px;
    height: 61px;
    background: url(../img/icons.png) -73px 0 no-repeat;
    float: left;
}
header ul.menu li.message:hover div.msg-ico{
    background: url(../img/icons.png) -73px -64px no-repeat;
}
header ul.menu li.message.active div.msg-ico{
    background: url(../img/icons.png) -73px -128px no-repeat;
}
header ul.menu li.message.active .content span {
    font-weight: bold;
}

/*  Notification tab  */
header ul.menu li.notification {
    background: fixed #73c5eb url(../img/header/backgrounds/normal/notification.png) 0 0 repeat-x;
    color: #296e8a;
    font-size: 16px;
    width: 193px;
}
header ul.menu li.notification .badge {
    position: absolute;
    margin: 30px 0 0 -27px;
    background-color: #FFF;
    border: 3px solid #4d9cdf;
    color: #F81C25;
}
header ul.menu li.notification .content {
    padding: 14px 0 0 12px;
}
header ul.menu li.notification .content span {
    float: left;
    margin: 28px 0 0 15px;
}
header ul.menu li.notification:hover {
    background: fixed #73c5eb url(../img/header/backgrounds/hover/notification.png) 0 0 repeat-x;
}
header ul.menu li.notification.active {
    background: fixed #f69e9e url(../img/header/backgrounds/passed/notification.png) 0 0 repeat-x;
}
header ul.menu li.notification div.notif-ico {
    width: 60px;
    height: 61px;
    background: url(../img/icons.png) -154px 0 no-repeat;
    float: left;
}
header ul.menu li.notification:hover div.notif-ico{
    background: url(../img/icons.png) -154px -66px no-repeat;
}
header ul.menu li.notification.active div.notif-ico{
    background: url(../img/icons.png) -154px -132px no-repeat;
}
header ul.menu li.notification.active .content span {
    font-weight: bold;
}


/***   User profile     ***/
header div.user-profile {
    float: left;
    padding: 5px 2px 2px 7px;
    font-family: Segoe_UI;
    font-weight: lighter;
}
header div.user-profile .info-bar {
    float: left;
    margin-left: 9px;
}
header div.user-profile .info-bar .rating {
    margin-top: 10px;
}
header div.user-profile .info-bar .money {
    margin-top: 8px;
}
header div.user-profile .info-bar .rating .position{
    font-size: 15px;
    font-weight: bold;
    color: #45617e;
    margin-left: 13px;
}
header div.user-profile .info-bar .money .balance{
    font-size: 15px;
    font-weight: bold;
    color: #45617e;
    margin-left: 11px;
}
header div.user-profile .info-bar .rating .pos-label{
    font-size: 12px;
    color: #587ba1;
}

header div.user-profile .info-bar .money .balance-label{
    font-size: 12px;
    color: #587ba1;
}
header div.user-profile .name {
    color: #587BA1;
    margin: 11px 0 0 0;
    font-size: 13px;
    overflow: hidden;
    width: 125px;
    height: 16px;
}
header div.user-profile .avatar {
    height: 80px;
    border-radius: 4px;
    max-width: 80px;
    float: left;
    position: relative;
}

header div.user-profile .avatar img {
    max-width: 83px;
    max-height: 80px;
}
/*--- header end ---*/


.male-avatar {
    border: 3px solid #21A4D5;
}
.female-avatar {
    border: 3px solid #ff92a9;
}

.vip {
    width: 32px;
    height: 35px;
    position: absolute;
    z-index: 100001;
    top: 0px;
    left: 0px;
}

.vip.male-vip {
    background: url(../img/icons.png) 0 -192px no-repeat;
}

.vip.female-vip {
    background: url(../img/icons.png) -32px -192px no-repeat;
}



/*--- content start ---*/
#content {
    background: url(../img/content/main-bg.png) 0 0 repeat;
    width: 100%;
    height: 598px;
}

/*--- content end ---*/

/*--- footer start ---*/
footer {
    height: 39px;
    background: url(../img/content/footer-bg.png);
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer ul.menu {
    margin: 2px 16px 0 0;
    float: right;
}
footer ul.menu li {
    float: left;
}
footer ul.menu li .ico {
    cursor: pointer;
}
footer .ico-faq {
    margin: 1px 18px 0;
}

/*--- footer end ---*/

/*--- styled dialog start ---*/
.sd-box {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
}

.sd-wrapper {
    border-radius: 3px;
    width: 100%;
}

.sd-wrapper.male {
    background: url(../img/content/sd-male-bg.png) 0 0 repeat;
}

.sd-wrapper.female {
    background: url(../img/content/sd-female-bg.png) 0 0 repeat;
}

button.sd-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    font-family: Segoe_UI;
    font-weight: bold;
}

.sd-wrapper.male .sd-btn {
    border: 0;
    cursor: pointer;
    color: #ffffff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.3);
    background: url(../img/content/styled-dialog/male/btn-bg.png) 0 0 repeat-x;
}
.sd-wrapper.male .sd-btn:hover {
    background: url(../img/content/styled-dialog/male/btn-over-bg.png) 0 0 repeat-x;
}
.sd-wrapper.male .sd-btn:active {
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.3);
    background: url(../img/content/styled-dialog/male/btn-passed-bg.png) 0 0 repeat-x;
}

.sd-wrapper.female .sd-btn {
    border: 0;
    cursor: pointer;
    color: #ffffff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.3);
    background: url(../img/content/styled-dialog/female/btn-bg.png) 0 0 repeat-x;
}
.sd-wrapper.female .sd-btn:hover {
    background: url(../img/content/styled-dialog/female/btn-over-bg.png) 0 0 repeat-x;
}
.sd-wrapper.female .sd-btn:active {
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.3);
    background: url(../img/content/styled-dialog/female/btn-passed-bg.png) 0 0 repeat-x;
}
/*--- styled dialog end ---*/

/*--- leader start ---*/
.leader {}

#leader  {
    float: left;
    padding-top: 9px;
    padding-left: 12px;
}
#leader .leader-label {
    width: 153px;
    height: 25px;
    background: url(../img/icons.png) 0 -227px no-repeat;
}
.leader .avatar {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    position: relative;
    margin: 21px auto 0;
}
.leader .bet-info {
    font-family: Segoe_UI;
    font-weight: bold;
    color: #2877a3;
    margin: 11px auto 12px;
    text-align: center;
}
.leader .bet-info .bet-label {
    font-size: 12px;
}
.leader .bet-info .bet {
    font-size: 16px;
}
.leader .avatar img {
    width: 100%;
}
.leader .become-leader {
    width: 100%;
    height: 37px;
}
.sd-wrapper.male .bet-info {
    color: #2877a3;
}
.sd-wrapper.female .bet-info {
    color: #7c4759
}
/*--- leader end ---*/

/*--- question dialog start ---*/
.question_dialog .ask-question {
    width: 100%;
    height: 37px;
}
.question_dialog .circleBase {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}
.question_dialog .left{
    margin-left: 13px;
    position: absolute;
    top: -14px;
}
.question_dialog .right{
    margin-left: 123px;
    margin-top: 21px;
    position: absolute;
    top: -15px;
}
.question_dialog .right textarea {
    resize: none;
    font-family: "SegoeUI SemiBold";
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    padding: 5px 0 0 8px;
    width: 260px;
    height: 135px;
    margin-left: 5px;
}
.question_dialog .right textarea.male {
    border-color: #7bb5dd;
    color: #a3d1ec;
}
.question_dialog .right textarea.female {
    border-color: #e898b0;
}
.question_dialog .avatar {
    width: 88px;
    height: 88px;
    margin: 0 auto;
}
.question_dialog .icons {
    margin-top: 11px;
    float: left;
}
.question_dialog .icons .females{
    float: left;
    text-align: center
}
.question_dialog .icons .males{
    float: left;
    text-align: center;
    margin-left: 19px;
}
.question_dialog .count {
    font-size: 16px;
    font-family: "SegoeUI SemiBold";
    font-weight: bold;
    color: #FFF;
    clear: both;
}
/*--- question dialog end ---*/


/*--- tape start ---*/
.tape {
    width: 100%;
    height: 86px;
    position: relative;
    bottom: 0;
    float: left;
    margin-top: 463px;
}
.tape .btn {
    height: 85px;
    width: 55px;
    background: url(../img/content/tape/btn/btn.png);
    float: left;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    margin-top: 2px;
    cursor: pointer;
}
.tape .btn .label {
    margin-top: 11px;
    margin-left: 8px;
    width: 38px;
    height: 73px;
    display: block;
    background: url(../img/icons.png) -271px 0 no-repeat;
}
.tape .btn:hover {
    background: url(../img/content/tape/btn/btn-hover.png);
}
.tape .btn:hover .label{
    background: url(../img/icons.png) -310px 0 no-repeat;
}
.tape .btn:active {
    background: url(../img/content/tape/btn/btn-passed.png);
}
.tape .btn:active .label{
    background: url(../img/icons.png) -351px 0 no-repeat;
}
.tape .user-list {
    overflow: hidden;
    margin-left: 60px;
    width: 736px;
}
.tape .all {
    float: left;
    width: 2000px;
    margin-top: 0;
    height: 88px;
    padding: 3px 3px 0 3px;
    z-index: 10000;
    position: relative;
}
.tape .user {
    display: block;
    float: left;
    width: auto;
    height: 80px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    cursor: pointer;
}
.tape .user img {
     max-width: 100%;
     max-height: 100%;
 }
/*---  tape end  ---*/

.online-user {
    height: 213px;
    position: absolute;
    width: 100%;
    margin-top: 247px;
}