html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: "Segoe_UI";
    src: url(Segoe_UI.ttf) format("truetype");
}

* {
    outline: none;
}

.ui-widget button {
    font-family: none;
    font-size: 0;
}
.ui-dialog .ui-dialog-content {
    position: static;
}
.ui-tooltip {
    /*
    background-color: #051921;
    opacity: 0.3;
    */
    border: none;
    padding: 0;
    box-shadow: 0 0 10px 2px #FFF;

}
.ui-tooltip-arrow {
    display: none;
}
.ui-widget-content {
    background: none;
    padding: 0;
}
.ui-dialog.ui-widget-content{
    border: 5px solid rgba(255, 255, 255, 0.2);
}
.ui-tooltip-content {
    border-radius: 5px;
    padding: 8px 20px 11px;
    border: none;
    font-family: Segoe_UI;
    font-size: 12px;
    color: #fff;
    position: relative;
    z-index: 9999;
    font-style: italic;
    -webkit-text-stroke: 1px white;
}
.ui-tooltip-bg {
    background-color: #051921;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: 4px;
}
.ui-tooltip.male .ui-tooltip-content {
    background-color: #62bae0;
    border: 1px solid #5baccf;
}
.ui-tooltip.male .ui-tooltip-arrow {
    display: block;
    background: url(../img/icons.png) -222px -22px no-repeat;
    height: 20px;
    width: 24px;
    position: absolute;
    margin: -1px auto;
    left: 46%;
    z-index: 1000000000;
}
.ui-tooltip.female .ui-tooltip-content {
    background-color: #e494b0;
    border: 1px solid #ce748c;
}
.ui-tooltip.female .ui-tooltip-arrow {
    display: block;
    background: url(../img/icons.png) -239px -22px no-repeat;
    height: 20px;
    width: 24px;
    position: absolute;
    margin: -1px auto;
    left: 46%;
    z-index: 1000000000;
}
.ui-dialog-titlebar {
    padding: 13px 10px;
    font-size: 16px;
    background: #FDFDFD;
    color: #8798A4;
    border: none;
    border-radius: 0;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.9em 1em;
    position: relative;
    cursor: default;
}
.ui-dialog-titlebar .ico-close {
    margin-left: 10px;
}
.ui-dialog .ui-widget-content {
    background: #FFF;
    border-top: 1px solid #C4DDEB;
    color: #8798a4;
}
.ui-dialog.sd-box .ui-widget-content {
    background: none;
}
.ui-dialog .ui-dialog-buttonpane{
    background: url(../img/content/buttonpane.png) 0 0 repeat-x;
    margin-top: 0;
    padding: 0;
    height: 41px;
}
.ui-dialog .ui-dialog-buttonpane a{
    color: #5081a2;
    text-decoration: none;
    display: block;
    float: left;
    width: 130px;
    text-align: center;
    border: 2px solid #59ccff;
    border-radius: 5px;
    height: 20px;
    padding-top: 5px;
    font-size: 13px;
    margin-top: 5px;
    margin-right: 5px;
}
.ui-dialog .ui-dialog-buttonpane a:first-child {
    background: #bdebff;
}
.ui-dialog .ui-dialog-buttonpane a:first-child:hover {
    background: #eaf7fd;
}
.ui-dialog .ui-dialog-buttonpane a:first-child:active {
    background: #2496dd;
}
.ui-dialog .ui-dialog-buttonpane a:last-child {
    background: #def5ff;
    border-color: #59ccff;
}
.ui-dialog .ui-dialog-buttonpane a:last-child:hover {
    background: #ffffff;
    border-color: #29ace6;
}
.ui-dialog .ui-dialog-buttonpane a:last-child:active {
    background: #2a9ce1;
    border-color: #59ccff
}